.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden; }
  .embed-responsive::before {
    display: block;
    content: ""; }
  .embed-responsive .embed-responsive-item,
  .embed-responsive iframe,
  .embed-responsive embed,
  .embed-responsive object,
  .embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0; }

.embed-responsive-21by9::before {
  padding-top: 42.8571428571%; }

.embed-responsive-16by9::before {
  padding-top: 56.25%; }

.embed-responsive-4by3::before {
  padding-top: 75%; }

.embed-responsive-1by1::before {
  padding-top: 100%; }

.img-fluid {
  height: auto;
  display: block;
  max-width: 100%; }

.ico-svg {
  position: relative;
  display: inline-block;
  width: auto;
  height: 100%;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0); }

.hide {
  opacity: 0 !important;
  display: none !important;
  visibility: hidden !important; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

.breadcrumb {
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
  margin: 0 0 20px 0; }
  .breadcrumb > li {
    font-size: 16px;
    line-height: 20px;
    display: inline-block; }
    .breadcrumb > li:after {
      content: '>';
      padding: 0 5px; }

.btn {
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding: 16px 25px;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  background: #30b458;
  display: inline-block;
  vertical-align: middle;
  touch-action: manipulation;
  text-decoration: none;
  font-family: "Montserrat Alternates", Arial, sans-serif;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  -ms-border-radius: 26px;
  border-radius: 26px; }
  .btn:hover {
    color: #fff;
    background: #2dc85c;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(41, 179, 84, 0.5);
    box-shadow: 0px 0px 25px 0px rgba(41, 179, 84, 0.5); }
  .btn:focus, .btn.focus {
    outline: 0; }

.btn-md {
  font-weight: 600;
  padding: 20px 20px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px; }

.form-control {
  margin: 0;
  width: 100%;
  color: #fff;
  outline: none;
  font-size: 14px;
  line-height: 20px;
  padding: 19px 25px;
  text-align: center;
  display: inline-block;
  border: 1px solid #fff;
  background: transparent;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px; }
  .form-control::-moz-placeholder {
    color: #fff;
    opacity: 1; }
  .form-control:-ms-input-placeholder {
    color: #fff; }
  .form-control::-webkit-input-placeholder {
    color: #fff; }
  .form-control::-ms-clear {
    display: none;
    width: 0;
    height: 0; }
  .form-control:hover {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border-color: #30b458; }
  .form-control:focus {
    padding: 18px 24px;
    border: 2px solid #30b458;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .form-control:focus::-moz-placeholder {
      color: transparent;
      opacity: 1; }
    .form-control:focus:-ms-input-placeholder {
      color: transparent; }
    .form-control:focus::-webkit-input-placeholder {
      color: transparent; }

.form-control-gray {
  color: #707070;
  border: 1px solid #bfbfbf; }
  .form-control-gray::-moz-placeholder {
    color: #707070;
    opacity: 1; }
  .form-control-gray:-ms-input-placeholder {
    color: #707070; }
  .form-control-gray::-webkit-input-placeholder {
    color: #707070; }

.form-group {
  margin-bottom: 20px; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  color: #535353;
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  font-size: 16px;
  line-height: 1.25; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1300px) {
    .container {
      width: 1270px; } }
  @media (min-width: 1460px) {
    .container {
      width: 1430px; } }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
  padding: 0;
  font-weight: 400;
  line-height: 1.1; }

h1, .h1 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase; }
  @media (min-width: 992px) {
    h1, .h1 {
      font-size: 48px; } }

h2, .h2 {
  font-size: 28px;
  text-align: center;
  position: relative;
  margin-bottom: 40px;
  padding-bottom: 25px;
  font-family: "Montserrat Alternates", Arial, sans-serif; }
  h2:before, .h2:before {
    left: 50%;
    bottom: 0;
    content: '';
    width: 45px;
    height: 2px;
    display: block;
    position: absolute;
    margin-left: -22px;
    background: #30b458; }
  @media (min-width: 992px) {
    h2, .h2 {
      font-size: 36px; } }

h3, .h3 {
  font-size: 1.5rem;
  margin-bottom: 1.25rem; }

h4, .h4 {
  font-size: 1.25rem;
  margin-bottom: 1.25rem; }

h5, .h5 {
  font-size: 1rem;
  margin-bottom: 1rem; }

h6, .h6 {
  font-size: 0.875rem;
  margin-bottom: 0.75rem; }

p {
  margin: 0 0 0.5rem 0; }

a {
  outline: none;
  color: #535353;
  text-decoration: underline; }
  a:hover {
    text-decoration: none; }

.header {
  width: 100%;
  color: #fff;
  overflow: hidden;
  min-height: 100vh;
  position: relative;
  background: url("../img/header__bg.jpg") 50% 50% no-repeat;
  background-size: cover; }
  .header:before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    z-index: 15;
    position: absolute;
    background: rgba(0, 0, 0, 0.5); }
  .header__content {
    width: 100%;
    height: 100%;
    z-index: 100;
    position: relative; }
  .header__col {
    padding-top: 150px;
    padding-bottom: 80px; }
  .header h1 {
    text-align: center;
    margin-bottom: 30px; }
  .header__subtitle {
    max-width: 700px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    position: relative;
    padding-bottom: 30px;
    margin: 0 auto 30px auto; }
    .header__subtitle:before {
      left: 50%;
      bottom: 0;
      width: 45px;
      height: 2px;
      content: '';
      margin-left: -22px;
      position: absolute;
      background: #30b458; }
  .header__form {
    width: 250px;
    margin: 0 auto 30px auto; }
    .header__form_row {
      padding: 0;
      margin: 0 -13px;
      list-style: none; }
      .header__form_row > li {
        padding: 0 15px; }
    .header__form .btn {
      width: 100%; }
  .header__text {
    color: #d2d2d2;
    font-size: 12px;
    line-height: 20px;
    text-align: center; }
  .header__top {
    left: 0;
    right: 0;
    z-index: 200;
    padding-top: 20px;
    position: absolute; }
  .header__logo {
    float: left;
    height: 78px;
    font-size: 18px;
    line-height: 18px;
    position: relative;
    font-family: "Montserrat Alternates", Arial, sans-serif;
    padding: 20px 0 30px 60px; }
    .header__logo:before {
      top: 0;
      left: 0;
      content: '';
      width: 60px;
      height: 78px;
      position: absolute;
      background: url("../img/logo.svg") 0 0 no-repeat;
      background-size: cover; }
    .header__logo span {
      display: none;
      padding-left: 25px; }
  .header__nav {
    margin: 0;
    float: left;
    display: none;
    padding: 20px 0 0 0; }
    .header__nav:before, .header__nav:after {
      content: " ";
      display: table; }
    .header__nav:after {
      clear: both; }
    .header__nav > li {
      float: left;
      padding: 0 22px; }
      .header__nav > li a {
        color: #313131;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        text-decoration: none;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
        .header__nav > li a:hover {
          color: #30b458;
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s; }
  .header__contact {
    margin: 0;
    float: right;
    list-style: none;
    text-align: right;
    padding: 15px 0 0 0; }
    .header__contact li:first-child {
      margin-bottom: 5px; }
  .header__phone {
    color: #fff;
    font-size: 18px;
    line-height: 20px;
    padding-left: 22px;
    position: relative;
    text-decoration: none;
    display: inline-block; }
    .header__phone:before {
      left: 0;
      top: 0;
      content: '';
      width: 15px;
      height: 15px;
      position: absolute;
      background: url("../img/icon_phone.svg") 0 0 no-repeat;
      background-size: cover; }
  .header .btn-callback {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-decoration: none;
    font-family: "Montserrat Alternates", Arial, sans-serif;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .header .btn-callback:hover {
      color: #30b458;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
  @media (min-width: 768px) {
    .header {
      height: 100vh;
      max-height: 100vh; }
      .header__content {
        height: 100vh;
        display: table; }
      .header__col {
        display: table-cell;
        vertical-align: middle; }
      .header__logo span {
        display: inline-block; } }
  @media (min-width: 992px) {
    .header h1 {
      margin-bottom: 40px; }
    .header__col {
      padding-top: 150px;
      padding-bottom: 150px; }
    .header__subtitle {
      font-size: 18px;
      margin-bottom: 85px; }
    .header__form {
      width: 800px; }
      .header__form_row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex; }
        .header__form_row > li {
          width: 33.33%; }
    .header__top {
      top: 33px;
      padding-top: 27px;
      padding-bottom: 15px; }
    .header__contact {
      width: auto;
      padding-top: 20px; }
      .header__contact:before, .header__contact:after {
        content: " ";
        display: table; }
      .header__contact:after {
        clear: both; }
      .header__contact li {
        float: left; }
        .header__contact li:first-child {
          margin-bottom: 0;
          margin-right: 40px; } }
  @media (min-width: 1300px) {
    .header__top.fix-top {
      top: 0;
      position: fixed;
      background: #fff;
      -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
      box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5); }
      .header__top.fix-top .header__logo span {
        display: none; }
      .header__top.fix-top .header__nav {
        display: block;
        margin-left: 110px; }
      .header__top.fix-top .header__contact {
        padding: 5px; }
        .header__top.fix-top .header__contact li {
          float: none; }
          .header__top.fix-top .header__contact li:first-child {
            margin-right: 0;
            margin-bottom: 10px; }
      .header__top.fix-top .header__phone {
        color: #313131; }
      .header__top.fix-top .btn-callback {
        color: #30b458; } }
  @media (min-width: 1460px) {
    .header__top.fix-top .header__nav {
      margin-left: 210px; } }

body {
  background: fixed url("../img/block_seven__bg.jpg") 50% 0 no-repeat;
  background-size: cover; }

section {
  width: 100%;
  max-width: 100%;
  overflow: hidden; }

.tabs .tabs-item {
  display: none; }
  .tabs .tabs-item.active {
    display: block; }

.video_bg {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: none;
  position: absolute; }
  .video_bg .video-inner {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative; }
  @media (min-width: 992px) {
    .video_bg {
      display: block; } }

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block; }

@media (min-aspect-ratio: 16 / 9) {
  video {
    height: 300%;
    top: -100%; } }
@media (max-aspect-ratio: 16 / 9) {
  video {
    width: 300%;
    left: -100%; } }
@supports (object-fit: cover) {
  video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; } }
.form_block {
  width: 250px;
  margin: 0 auto 30px auto; }
  .form_block__row {
    padding: 0;
    margin: 0 -13px;
    list-style: none; }
    .form_block__row > li {
      padding: 0 15px; }
  .form_block .btn {
    width: 100%; }
  @media (min-width: 992px) {
    .form_block {
      width: 800px; }
      .form_block__row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex; }
        .form_block__row > li {
          width: 33.33%; } }

.modal {
  background: transparent;
  padding: 30px 20px;
  -webkit-box-shadow: none;
  box-shadow: none; }
  .modal__title {
    color: #313131;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    margin-bottom: 20px;
    font-family: "Montserrat Alternates", Arial, sans-serif; }
  .modal__subtitle {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    margin-bottom: 40px;
    color: #30b458; }
  .modal__form {
    width: 250px;
    margin: 0 auto 40px auto; }
  .modal__text {
    margin: 0 auto;
    max-width: 380px;
    color: #a0a0a0;
    font-size: 10px;
    font-weight: 300;
    line-height: 18px;
    text-align: center; }
  .modal .btn {
    width: 100%; }
  .modal__content {
    margin: 0 auto;
    text-align: center;
    max-width: 280px; }
  @media (min-width: 768px) {
    .modal {
      width: 650px;
      opacity: 0.9;
      padding: 75px 30px 30px 30px; } }

.fancybox-active section,
.fancybox-active .header,
.fancybox-active .footer {
  -webkit-filter: url(#blur);
  filter: url(#blur);
  -webkit-filter: blur(3px);
  filter: blur(3px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
  -webkit-transition: 1s -webkit-filter linear;
  transition: 1s filter linear; }

.fancybox-container-white .fancybox-bg {
  opacity: 1;
  background: rgba(255, 255, 255, 0.95) !important; }
.fancybox-container-white .fancybox-close-small {
  outline: none; }
  .fancybox-container-white .fancybox-close-small:after {
    color: #30b458; }

.divider {
  height: 70px;
  background: #fff; }

.tel {
  text-decoration: none; }

/*************** SIMPLE OUTER SCROLLBAR ***************/
.scrollbar-outer > .scroll-element,
.scrollbar-outer > .scroll-element div {
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 10; }

.scrollbar-outer > .scroll-element {
  background-color: #ffffff; }

.scrollbar-outer > .scroll-element div {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%; }

.scrollbar-outer > .scroll-element.scroll-x {
  bottom: 0;
  height: 12px;
  left: 0;
  width: 100%; }

.scrollbar-outer > .scroll-element.scroll-y {
  height: 100%;
  right: 0;
  top: 0;
  width: 12px; }

.scrollbar-outer > .scroll-element.scroll-x .scroll-element_outer {
  height: 8px;
  top: 2px; }

.scrollbar-outer > .scroll-element.scroll-y .scroll-element_outer {
  left: 2px;
  width: 8px; }

.scrollbar-outer > .scroll-element .scroll-element_outer {
  overflow: hidden; }

.scrollbar-outer > .scroll-element .scroll-element_track {
  background-color: #eeeeee; }

.scrollbar-outer > .scroll-element .scroll-bar {
  background-color: #d9d9d9; }

.scrollbar-outer > .scroll-element .scroll-bar:hover {
  background-color: #c2c2c2; }

.scrollbar-outer > .scroll-element.scroll-draggable .scroll-bar {
  background-color: #919191; }

/* scrollbar height/width & offset from container borders */
.scrollbar-outer > .scroll-content.scroll-scrolly_visible {
  left: -12px;
  margin-left: 12px; }

.scrollbar-outer > .scroll-content.scroll-scrollx_visible {
  top: -12px;
  margin-top: 12px; }

.scrollbar-outer > .scroll-element.scroll-x .scroll-bar {
  min-width: 10px; }

.scrollbar-outer > .scroll-element.scroll-y .scroll-bar {
  min-height: 10px; }

/* update scrollbar offset if both scrolls are visible */
.scrollbar-outer > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {
  left: -14px; }

.scrollbar-outer > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {
  top: -14px; }

.scrollbar-outer > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
  left: -14px; }

.scrollbar-outer > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
  top: -14px; }

.scrollbar-inner > .scroll-element .scroll-element_track {
  background-color: #fff !important;
  opacity: 1 !important; }

.scrollbar-inner > .scroll-element .scroll-bar {
  background-color: #333; }

.scrollbar-inner > .scroll-element:hover .scroll-bar {
  background-color: #444; }

.scrollbar-inner > .scroll-element.scroll-draggable .scroll-bar {
  background-color: #444; }

.scrollbar-inner > .scroll-element .scroll-element_outer,
.scrollbar-inner > .scroll-element .scroll-element_track,
.scrollbar-inner > .scroll-element .scroll-bar {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

.scrollbar-inner > .scroll-element.scroll-x {
  bottom: 0;
  height: 8px;
  left: 0;
  width: 100%; }

.swiper-button-next,
.swiper-button-prev {
  outline: none !important;
  touch-action: manipulation; }

.block_one {
  background: #fff;
  padding-top: 60px;
  padding-bottom: 30px; }
  .block_one h2,
  .block_one .h2 {
    margin-bottom: 40px; }
  @media (min-width: 992px) {
    .block_one h2,
    .block_one .h2 {
      margin-bottom: 80px; } }
  @media (min-width: 1300px) {
    .block_one {
      padding-top: 100px; } }
  @media (min-width: 1460px) {
    .block_one {
      padding-top: 150px; } }

.docs__nav {
  padding: 0;
  list-style: none;
  margin: 0 -15px 40px -15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center; }
  .docs__nav > li {
    padding: 0 15px;
    margin-bottom: 5px; }
    .docs__nav > li a {
      color: #535353;
      font-size: 16px;
      line-height: 20px;
      padding-bottom: 4px;
      display: inline-block;
      text-decoration: none;
      border-bottom: 2px solid transparent;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      .docs__nav > li a:hover {
        color: #30b458;
        border-bottom-color: #30b458;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
    .docs__nav > li.active a {
      color: #30b458;
      border-bottom-color: #30b458; }
.docs__row {
  padding: 0;
  margin: 0 -15px;
  list-style: none; }
  .docs__row > li {
    color: #535353;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
    margin-bottom: 80px;
    padding: 0 15px; }
    .docs__row > li span {
      display: block; }
.docs__icon {
  left: 0;
  right: 0;
  top: 10px;
  height: 110px;
  position: absolute; }
  .docs__icon.icon02 {
    top: -10px;
    height: 125px; }
  .docs__icon.icon03 {
    top: 5px;
    height: 115px; }
  .docs__icon.icon06 {
    top: 0;
    height: 120px; }
  .docs__icon.icon07 {
    top: -3px;
    height: 125px; }
.docs__content {
  position: relative;
  padding-top: 140px;
  padding-bottom: 40px; }
@media (min-width: 768px) {
  .docs__nav {
    margin-bottom: 60px; }
  .docs__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .docs__row > li {
      width: 50%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
  .docs__content {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; } }
@media (min-width: 992px) {
  .docs__nav {
    margin-bottom: 50px; } }
@media (min-width: 1300px) {
  .docs__nav {
    margin-bottom: 80px; }
  .docs__row > li {
    width: 33.33%; } }
@media (min-width: 1460px) {
  .docs__nav {
    margin-bottom: 110px; }
    .docs__nav > li {
      padding: 0 30px; }
      .docs__nav > li a {
        font-size: 18px; }
  .docs__row > li {
    margin-bottom: 90px; } }

.block_two {
  background: #fff;
  padding-top: 50px;
  padding-bottom: 40px; }
  .block_two h2,
  .block_two .h2 {
    max-width: 750px;
    margin: 0 auto 60px auto; }
  .block_two .col:first-child {
    margin-bottom: 50px; }
  @media (min-width: 768px) {
    .block_two .col:first-child {
      margin-bottom: 70px; } }
  @media (min-width: 1300px) {
    .block_two {
      padding-bottom: 70px; }
      .block_two h2,
      .block_two .h2 {
        max-width: 750px;
        margin: 0 auto 100px auto; }
      .block_two .row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex; }
      .block_two .col {
        width: 50%; }
        .block_two .col:first-child {
          margin-bottom: 0; } }

.errors__content {
  border-bottom: 2px solid #30b458; }
.errors__media {
  display: none; }
  .errors__media_img {
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    position: absolute; }
  .errors__media_video {
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    background: #fff; }
.errors__text {
  font-size: 14px;
  font-weight: 300;
  line-height: 28px;
  padding-bottom: 5px; }
  .errors__text h4 {
    color: #313131;
    font-size: 24px;
    font-weight: 500;
    line-height: 35px;
    margin-bottom: 30px; }
  .errors__text p {
    margin-bottom: 0; }
.errors__user {
  padding-top: 20px; }
  .errors__user strong {
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px; }
  .errors__user span {
    font-size: 12px;
    line-height: 20px;
    color: #30b458; }
@media (min-width: 768px) {
  .errors__content {
    min-height: 380px;
    position: relative;
    padding-left: 260px; }
  .errors__media {
    bottom: 0;
    left: 20px;
    height: 349px;
    width: 220px;
    display: block;
    overflow: hidden;
    position: absolute; }
  .errors__text {
    padding-left: 30px; }
  .errors__user {
    padding-left: 260px; } }
@media (min-width: 992px) {
  .errors__text {
    padding-top: 20px;
    padding-left: 30px; }
  .errors__user {
    padding-left: 290px; } }
@media (min-width: 1300px) {
  .errors {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .errors__content {
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
      -moz-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1; }
    .errors__text {
      padding-top: 0;
      padding-left: 0; }
      .errors__text h4 {
        min-height: 105px; }
    .errors__user {
      padding-left: 260px; }
    .errors__media_video {
      display: block; } }
@media (min-width: 1460px) {
  .errors__text h4 {
    padding-left: 20px; }
  .errors__user {
    padding-left: 280px; } }

.block_three {
  background: #fff;
  padding-top: 40px; }
  .block_three h2,
  .block_three .h2 {
    margin-bottom: 50px; }
  @media (min-width: 992px) {
    .block_three h2,
    .block_three .h2 {
      margin-bottom: 90px; } }
  @media (min-width: 1300px) {
    .block_three {
      padding-top: 70px; }
      .block_three h2,
      .block_three .h2 {
        margin-bottom: 140px; } }

.advantage {
  padding: 0;
  list-style: none;
  margin: 0 -15px; }
  .advantage li {
    color: #313131;
    padding: 0 15px;
    text-align: center;
    margin-bottom: 60px; }
  .advantage__icon {
    height: 84px;
    margin-bottom: 40px; }
    .advantage__icon img {
      display: inline-block; }
  .advantage__title {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 15px; }
  .advantage__text {
    font-size: 14px;
    font-weight: 300;
    line-height: 28px;
    max-width: 255px;
    margin: 0 auto; }
  @media (min-width: 768px) {
    .advantage {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      justify-content: space-between; }
      .advantage li {
        width: 50%; } }
  @media (min-width: 992px) {
    .advantage li {
      width: 33.33%;
      text-align: left;
      padding-left: 50px;
      margin-bottom: 80px; }
    .advantage__text {
      margin: 0; } }
  @media (min-width: 1300px) {
    .advantage li {
      padding-left: 90px; } }
  @media (min-width: 1460px) {
    .advantage li {
      padding: 0 90px;
      margin-bottom: 160px; } }

.block_four {
  padding-top: 50px;
  padding-bottom: 80px;
  background: url("../img/block_four__bg.jpg") 0 50% no-repeat;
  background-size: cover; }
  .block_four h2,
  .block_four .h2 {
    max-width: 620px;
    margin: 0 auto 50px auto; }
  .block_four .step {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative; }
    .block_four .step > li {
      min-height: 40px;
      padding-left: 60px;
      position: relative;
      margin-bottom: 40px; }
      .block_four .step > li:after {
        top: 45px;
        left: 19px;
        width: 2px;
        content: '';
        bottom: -35px;
        position: absolute;
        background: #bfbfbf; }
      .block_four .step > li:last-child {
        margin-bottom: 0; }
        .block_four .step > li:last-child:after {
          display: none; }
        .block_four .step > li:last-child .step__num {
          font-size: 30px; }
      .block_four .step > li:hover .step__num {
        -webkit-box-shadow: 0 0 55px 10px rgba(41, 179, 84, 0.9);
        box-shadow: 0 0 55px 10px rgba(41, 179, 84, 0.9);
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
    .block_four .step__num {
      top: 0;
      left: 0;
      z-index: 10;
      width: 40px;
      height: 40px;
      color: #ffffff;
      padding: 5px 0;
      font-size: 20px;
      font-weight: 700;
      line-height: 30px;
      text-align: center;
      position: absolute;
      background: #30b458;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      -webkit-box-shadow: 0px 5px 10px 0px rgba(41, 179, 84, 0.8);
      box-shadow: 0px 5px 10px 0px rgba(41, 179, 84, 0.8);
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
    .block_four .step__text {
      color: #434343;
      font-size: 14px;
      line-height: 20px;
      min-height: 40px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex; }
      .block_four .step__text_wrap {
        margin: auto 0; }
      .block_four .step__text strong {
        font-weight: 600; }
  @media (min-width: 768px) {
    .block_four .step {
      margin-left: 200px; }
      .block_four .step > li {
        min-height: 80px;
        padding-left: 125px;
        margin-bottom: 70px; }
        .block_four .step > li:after {
          top: 90px;
          left: 39px;
          bottom: -60px; }
        .block_four .step > li:last-child .step__num {
          font-size: 45px; }
      .block_four .step__num {
        width: 80px;
        height: 80px;
        padding: 15px 0;
        font-size: 24px;
        line-height: 50px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%; }
      .block_four .step__text {
        max-width: 440px;
        font-size: 14px;
        line-height: 25px;
        min-height: 80px; } }
  @media (min-width: 992px) {
    .block_four {
      padding-top: 90px;
      padding-bottom: 120px; }
      .block_four .step {
        margin-left: 350px; } }
  @media (min-width: 1300px) {
    .block_four {
      padding-bottom: 160px; }
      .block_four .step {
        margin-left: 450px; }
      .block_four h2,
      .block_four .h2 {
        margin-bottom: 80px; } }
  @media (min-width: 1460px) {
    .block_four {
      padding-top: 140px;
      padding-bottom: 300px; }
      .block_four h2,
      .block_four .h2 {
        margin-bottom: 110px; }
      .block_four .step {
        margin-left: 540px; } }

.block__five {
  color: #fff;
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
  background: url("../img/block_five__bg.jpg") 50% 50% no-repeat;
  background-size: cover; }
  .block__five:before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    content: '';
    background: rgba(0, 0, 0, 0.7);
    position: absolute; }
  .block__five .container {
    z-index: 50;
    position: relative; }
  .block__five h2,
  .block__five .h2 {
    color: #fff;
    margin-bottom: 50px; }
  @media (min-width: 992px) {
    .block__five {
      height: 400px;
      padding-top: 80px; }
      .block__five h2,
      .block__five .h2 {
        margin-bottom: 75px; } }

.block__six {
  color: #fff;
  padding-top: 50px;
  padding-bottom: 30px;
  background: #1f263b; }
  .block__six h2,
  .block__six .h2 {
    margin-bottom: 40px; }
  .block__six .stat {
    padding: 0;
    margin: 0 -15px;
    list-style: none; }
    .block__six .stat li {
      padding: 0 15px;
      text-align: center;
      margin-bottom: 60px;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      .block__six .stat li strong {
        display: block;
        color: #30b458;
        font-size: 70px;
        font-weight: 700;
        line-height: 70px;
        margin-bottom: 30px;
        text-shadow: 1px 1px 14px rgba(41, 179, 84, 0);
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
      .block__six .stat li span {
        display: block;
        font-size: 14px;
        line-height: 28px;
        max-width: 250px;
        margin: 0 auto 40px auto;
        text-shadow: 1px 1px 14px rgba(41, 179, 84, 0);
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
      .block__six .stat li i {
        height: 32px;
        display: block; }
      .block__six .stat li:hover {
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
        .block__six .stat li:hover strong {
          text-shadow: 1px 1px 14px rgba(41, 179, 84, 0.8);
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s; }
        .block__six .stat li:hover span {
          text-shadow: 1px 1px 7px rgba(255, 255, 255, 0.7);
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s; }
  @media (min-width: 768px) {
    .block__six .stat {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      justify-content: center; }
      .block__six .stat li {
        width: 33.33%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; }
        .block__six .stat li span {
          -webkit-box-flex: 1;
          -webkit-flex-grow: 1;
          -moz-flex-grow: 1;
          -ms-flex-positive: 1;
          flex-grow: 1; } }
  @media (min-width: 992px) {
    .block__six {
      padding-top: 100px;
      padding-bottom: 100px; }
      .block__six .stat {
        -webkit-flex-wrap: nowrap;
        -moz-flex-wrap: nowrap;
        -ms-flex-wrap: none;
        flex-wrap: nowrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        justify-content: space-between; }
        .block__six .stat li {
          width: 20%;
          text-align: left;
          margin-bottom: 0; }
          .block__six .stat li span {
            margin: 0 0 40px 0; } }
  @media (min-width: 992px) and (min-width: 1300px) {
    .block__six .stat {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      justify-content: space-between; }
      .block__six .stat li {
        width: 20%; }
        .block__six .stat li strong {
          margin-bottom: 45px; }
        .block__six .stat li span {
          margin-bottom: 70px; } }
  @media (min-width: 992px) and (min-width: 1460px) {
    .block__six {
      padding-top: 135px;
      padding-bottom: 135px; } }

.block__seven {
  color: #fff;
  padding: 50px 0;
  position: relative;
  background: transparent;
  background-size: cover; }
  .block__seven:before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    content: '';
    background: rgba(0, 0, 0, 0.4);
    position: absolute; }
  .block__seven .container {
    z-index: 50;
    position: relative; }
  .block__seven .seven-heading {
    overflow: hidden;
    max-width: 960px;
    font-size: 40px;
    font-weight: 900;
    line-height: 40px;
    text-align: center;
    margin: 0 auto 40px auto; }
    .block__seven .seven-heading span {
      display: inline-block;
      position: relative; }
      .block__seven .seven-heading span:after, .block__seven .seven-heading span:before {
        top: 50%;
        z-index: 1;
        content: '';
        height: 2px;
        width: 200px;
        background: #fff;
        margin-top: -1px;
        position: absolute; }
      .block__seven .seven-heading span:after {
        left: -230px; }
      .block__seven .seven-heading span:before {
        right: -230px; }
  .block__seven .text {
    font-weight: 500;
    max-width: 640px;
    font-size: 24px;
    line-height: 1.6;
    text-align: center;
    font-family: "Montserrat Alternates", Arial, sans-serif;
    margin: 0 auto 30px auto; }
  .block__seven .icon {
    width: 120px;
    margin: 0 auto; }
  @media (min-width: 768px) {
    .block__seven .seven-heading {
      font-size: 70px;
      line-height: 60px; }
    .block__seven .text {
      font-size: 36px; } }
  @media (min-width: 992px) {
    .block__seven {
      height: 700px;
      padding-top: 100px; } }

.block__eight {
  color: #fff;
  padding-top: 60px;
  padding-bottom: 70px;
  background: url("../img/block_eight__bg.jpg") 50% 50% no-repeat;
  background-size: cover; }
  .block__eight h2,
  .block__eight .h2 {
    margin-bottom: 50px; }
  .block__eight .column {
    margin-bottom: 50px; }
  @media (min-width: 768px) {
    .block__eight h2,
    .block__eight .h2 {
      margin-bottom: 60px; }
    .block__eight .rows {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex; }
    .block__eight .column {
      width: 33.33%;
      margin-bottom: 0; } }
  @media (min-width: 992px) {
    .block__eight {
      padding-top: 80px;
      padding-bottom: 100px; }
      .block__eight h2,
      .block__eight .h2 {
        margin-bottom: 80px; } }
  @media (min-width: 1300px) {
    .block__eight {
      padding-top: 100px;
      padding-bottom: 140px; } }
  @media (min-width: 1460px) {
    .block__eight {
      padding-top: 150px;
      padding-bottom: 230px; }
      .block__eight .h2 {
        margin-bottom: 150px; } }

.graph {
  width: 230px;
  height: 230px;
  margin-bottom: 50px;
  position: relative; }
  .graph .chart {
    z-index: 10;
    width: 100%;
    height: 100%;
    position: relative; }
  .graph .legend {
    top: 30px;
    left: 30px;
    z-index: 5;
    width: 170px;
    height: 170px;
    background: #252d44;
    text-align: center;
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
    .graph .legend__wrap {
      color: #fff;
      padding: 10px 10px;
      width: 100%;
      font-weight: 300;
      text-align: center;
      margin: auto 0; }
    .graph .legend__value {
      font-size: 36px; }
    .graph .legend__text {
      display: none;
      font-size: 12px;
      line-height: 20px; }
    .graph .legend__base {
      color: #646e8b;
      font-size: 14px;
      line-height: 26px;
      font-weight: 300;
      text-transform: uppercase; }
    .graph .legend.hover .legend__text {
      display: block; }
    .graph .legend.hover .legend__base {
      display: none; }
  @media (min-width: 768px) {
    .graph {
      margin: 0 auto 80px auto; } }
  @media (min-width: 1300px) {
    .graph {
      width: 300px;
      height: 300px; }
      .graph .legend {
        top: 40px;
        left: 40px;
        z-index: 5;
        width: 220px;
        height: 220px; } }

.diagram {
  margin: 0 auto;
  width: 230px; }
  .diagram h4 {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 20px; }
  .diagram ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .diagram ul > li {
      color: #fff;
      cursor: default;
      font-size: 12px;
      font-weight: 300;
      line-height: 20px;
      padding-left: 25px;
      position: relative;
      margin-bottom: 15px;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      .diagram ul > li:before {
        top: 4px;
        left: 0;
        width: 12px;
        height: 12px;
        content: '';
        background: #fff;
        position: absolute;
        display: inline-block;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
        -webkit-filter: blur(2px);
        filter: blur(2px);
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
      .diagram ul > li:hover {
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
        .diagram ul > li:hover:before {
          -webkit-transform: scale(1.2);
          -ms-transform: scale(1.2);
          -o-transform: scale(1.2);
          transform: scale(1.2);
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s; }
    .diagram ul.diagram_one li:nth-child(1):before {
      background: #e44d46; }
    .diagram ul.diagram_one li:nth-child(1):hover {
      color: #e44d46; }
    .diagram ul.diagram_one li:nth-child(2):before {
      background: #3b27cc; }
    .diagram ul.diagram_one li:nth-child(2):hover {
      color: #3b27cc; }
    .diagram ul.diagram_two li:nth-child(1):before {
      background: #81dd50; }
    .diagram ul.diagram_two li:nth-child(1):hover {
      color: #81dd50; }
    .diagram ul.diagram_two li:nth-child(2):before {
      background: #dc7122; }
    .diagram ul.diagram_two li:nth-child(2):hover {
      color: #dc7122; }
    .diagram ul.diagram_two li:nth-child(3):before {
      background: #e086cf; }
    .diagram ul.diagram_two li:nth-child(3):hover {
      color: #e086cf; }
    .diagram ul.diagram_two li:nth-child(4):before {
      background: #6565aa; }
    .diagram ul.diagram_two li:nth-child(4):hover {
      color: #6565aa; }
    .diagram ul.diagram_two li:nth-child(5):before {
      background: #fbc335; }
    .diagram ul.diagram_two li:nth-child(5):hover {
      color: #fbc335; }
    .diagram ul.diagram_two li:nth-child(6):before {
      background: #3b27cc; }
    .diagram ul.diagram_two li:nth-child(6):hover {
      color: #3b27cc; }
    .diagram ul.diagram_two li:nth-child(7):before {
      background: #8e58b1; }
    .diagram ul.diagram_two li:nth-child(7):hover {
      color: #8e58b1; }
    .diagram ul.diagram_two li:nth-child(8):before {
      background: #11cfce; }
    .diagram ul.diagram_two li:nth-child(8):hover {
      color: #11cfce; }
    .diagram ul.diagram_two li:nth-child(9):before {
      background: #f15047; }
    .diagram ul.diagram_two li:nth-child(9):hover {
      color: #f15047; }
    .diagram ul.diagram_three li:nth-child(1):before {
      background: #fac235; }
    .diagram ul.diagram_three li:nth-child(1):hover {
      color: #fac235; }
    .diagram ul.diagram_three li:nth-child(2):before {
      background: #3b27cc; }
    .diagram ul.diagram_three li:nth-child(2):hover {
      color: #3b27cc; }
    .diagram ul.diagram_three li:nth-child(3):before {
      background: #f45047; }
    .diagram ul.diagram_three li:nth-child(3):hover {
      color: #f45047; }
  @media (min-width: 768px) {
    .diagram {
      margin: 0 auto; } }
  @media (min-width: 1300px) {
    .diagram {
      width: 300px; } }

.chart__one_01 {
  fill: #f45047; }
  .chart__one_01.hover, .chart__one_01:hover {
    stroke: rgba(244, 80, 71, 0.6); }

.chart__one_02 {
  fill: #3b27cc; }
  .chart__one_02.hover, .chart__one_02:hover {
    stroke: rgba(59, 39, 204, 0.6); }

.ico-svg {
  overflow: visible !important; }

.chart_elem {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .chart_elem.hover, .chart_elem:hover {
    z-index: 10;
    stroke-width: 8;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }

.chart__two_01 {
  fill: #80dd50;
  overflow: visible; }
  .chart__two_01.hover, .chart__two_01:hover {
    stroke: rgba(128, 221, 80, 0.6); }

.chart__two_02 {
  fill: #dd7222;
  overflow: visible; }
  .chart__two_02.hover, .chart__two_02:hover {
    stroke: rgba(221, 114, 34, 0.6); }

.chart__two_03 {
  fill: #e086cf; }
  .chart__two_03.hover, .chart__two_03:hover {
    stroke: rgba(224, 134, 207, 0.6); }

.chart__two_04 {
  fill: #6565aa; }
  .chart__two_04.hover, .chart__two_04:hover {
    stroke: rgba(101, 101, 170, 0.6); }

.chart__two_05 {
  fill: #fcc335; }
  .chart__two_05.hover, .chart__two_05:hover {
    stroke: rgba(252, 195, 153, 0.6); }

.chart__two_06 {
  fill: #3b27cc; }
  .chart__two_06.hover, .chart__two_06:hover {
    stroke: rgba(59, 39, 204, 0.6); }

.chart__two_07 {
  fill: #8f59b2; }
  .chart__two_07.hover, .chart__two_07:hover {
    stroke: rgba(143, 98, 178, 0.6); }

.chart__two_08 {
  fill: #33bcba; }
  .chart__two_08.hover, .chart__two_08:hover {
    stroke: rgba(51, 188, 86, 0.6); }

.chart__two_09 {
  fill: #f45047; }
  .chart__two_09.hover, .chart__two_09:hover {
    stroke: rgba(244, 80, 71, 0.6); }

.chart__three_01 {
  fill: #fcc335; }
  .chart__three_01.hover, .chart__three_01:hover {
    stroke: rgba(252, 195, 53, 0.6); }

.chart__three_02 {
  fill: #3b27cc; }
  .chart__three_02.hover, .chart__three_02:hover {
    stroke: rgba(59, 39, 204, 0.6); }

.chart__three_03 {
  fill: #f55d45; }
  .chart__three_03.hover, .chart__three_03:hover {
    stroke: rgba(245, 93, 69, 0.6); }

.block__nine {
  background: #fff;
  padding-top: 50px;
  padding-bottom: 30px; }
  .block__nine h2,
  .block__nine .h2 {
    margin-bottom: 50px; }
  .block__nine .clients {
    padding: 0;
    margin: 0 -15px;
    list-style: none;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .block__nine .clients > li {
      width: 50%;
      padding: 0 15px;
      margin-bottom: 50px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex; }
    .block__nine .clients .ico-svg {
      width: 100%;
      height: auto; }
    .block__nine .clients div {
      width: 120px;
      margin: auto; }
  @media (min-width: 768px) {
    .block__nine .clients > li {
      width: 33.33%;
      margin-bottom: 80px; }
    .block__nine .clients div {
      width: 160px; } }
  @media (min-width: 992px) {
    .block__nine h2,
    .block__nine .h2 {
      margin-bottom: 70px; } }
  @media (min-width: 1300px) {
    .block__nine {
      padding-top: 70px; }
      .block__nine h2,
      .block__nine .h2 {
        margin-bottom: 100px; }
      .block__nine .clients > li {
        margin-bottom: 100px; }
      .block__nine .clients div {
        width: 220px; } }
  @media (min-width: 1460px) {
    .block__nine {
      padding-top: 120px;
      padding-bottom: 20px; }
      .block__nine .clients > li {
        margin-bottom: 180px; } }

.block__ten {
  color: #fff;
  padding-top: 60px;
  padding-bottom: 60px;
  background: url("../img/block_ten__bg.jpg") 50% 0 no-repeat;
  background-size: cover; }
  .block__ten h2,
  .block__ten .h2 {
    margin-bottom: 40px; }
  .block__ten .swiper-pagination {
    top: 10px;
    color: #fff;
    bottom: auto;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    text-align: left; }
  .block__ten .swiper-button-next,
  .block__ten .swiper-button-prev {
    top: 110px;
    width: 30px;
    height: 30px;
    font-size: 0;
    line-height: 0;
    padding: 11px 0;
    text-align: center;
    display: inline-block;
    background: #30b458;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .block__ten .swiper-button-next i,
    .block__ten .swiper-button-prev i {
      width: 12px;
      height: 8px;
      display: inline-block; }
    .block__ten .swiper-button-next:hover,
    .block__ten .swiper-button-prev:hover {
      opacity: 0.8;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
  .block__ten .swiper-button-prev {
    left: 0; }
  .block__ten .swiper-button-next {
    left: 35px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  @media (min-width: 992px) {
    .block__ten h2,
    .block__ten .h2 {
      margin-bottom: 50px; }
    .block__ten .swiper-button-next,
    .block__ten .swiper-button-prev {
      top: 130px; } }
  @media (min-width: 1300px) {
    .block__ten {
      padding-top: 100px;
      padding-bottom: 90px; }
      .block__ten h2,
      .block__ten .h2 {
        margin-bottom: 70px; } }
  @media (min-width: 1460px) {
    .block__ten .swiper-button-next,
    .block__ten .swiper-button-prev {
      top: 150px; } }

.portfolio {
  padding-top: 50px; }
  .portfolio__name {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #30b458;
    margin-bottom: 60px; }
  .portfolio__row {
    margin-bottom: 40px; }
  .portfolio__title {
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    color: #30b458;
    margin-bottom: 25px; }
  .portfolio__res {
    margin-bottom: 30px; }
  .portfolio__data {
    width: 134px;
    height: 134px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    position: relative;
    background: transparent;
    border: 8px solid #30b458;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(41, 179, 84, 0.65);
    box-shadow: 0px 0px 10px 0px rgba(41, 179, 84, 0.65);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .portfolio__data:before {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      display: block;
      position: absolute;
      -webkit-box-shadow: inset 0px 0px 10px 0px rgba(41, 179, 84, 0.35);
      box-shadow: inset 0px 0px 10px 0px rgba(41, 179, 84, 0.35);
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
    .portfolio__data span {
      margin: auto;
      display: inline-block; }
    .portfolio__data.large {
      width: 180px;
      height: 180px;
      font-size: 18px; }
    .portfolio__data:hover {
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      text-shadow: 1px 1px 14px rgba(255, 255, 255, 0.7);
      -webkit-box-shadow: 0px 0px 50px 0px rgba(41, 179, 84, 0.85);
      box-shadow: 0px 0px 50px 0px rgba(41, 179, 84, 0.85); }
      .portfolio__data:hover:before {
        -webkit-box-shadow: inset 0px 0px 10px 0px rgba(41, 179, 84, 0.75);
        box-shadow: inset 0px 0px 10px 0px rgba(41, 179, 84, 0.75); }
  .portfolio__description {
    font-size: 14px;
    line-height: 25px; }
    .portfolio__description ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      .portfolio__description ul li {
        position: relative;
        padding-left: 20px;
        margin-bottom: 25px; }
        .portfolio__description ul li:before {
          left: 0;
          top: 10px;
          width: 5px;
          height: 5px;
          content: '';
          position: absolute;
          background: #30b458;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          border-radius: 50%; }
  @media (min-width: 768px) {
    .portfolio__row {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex; }
    .portfolio__result {
      min-width: 260px; }
    .portfolio__name {
      font-size: 24px; } }
  @media (min-width: 992px) {
    .portfolio__result {
      min-width: 350px; }
    .portfolio__name {
      margin-bottom: 90px; }
    .portfolio__res:before, .portfolio__res:after {
      content: " ";
      display: table; }
    .portfolio__res:after {
      clear: both; }
    .portfolio__description {
      padding-left: 50px; }
    .portfolio__data {
      float: right; } }
  @media (min-width: 1300px) {
    .portfolio__result {
      min-width: 450px; }
    .portfolio__description {
      padding-left: 150px; } }
  @media (min-width: 1460px) {
    .portfolio__name {
      margin-bottom: 130px; }
    .portfolio__description {
      padding-left: 255px; } }

.block__eleven {
  color: #fff;
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
  background: url("../img/block_eleven_bg.jpg") 50% 50% no-repeat;
  background-size: cover; }
  .block__eleven:before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    content: '';
    background: rgba(0, 0, 0, 0.7);
    position: absolute; }
  .block__eleven .container {
    z-index: 50;
    position: relative; }
  .block__eleven h2,
  .block__eleven .h2 {
    color: #fff;
    margin-bottom: 50px; }
  @media (min-width: 992px) {
    .block__eleven {
      height: 400px;
      padding-top: 80px; }
      .block__eleven h2,
      .block__eleven .h2 {
        margin-bottom: 75px; } }

.block__twelve {
  background: #fff;
  padding-top: 60px;
  padding-bottom: 10px; }
  .block__twelve .h2 {
    max-width: 760px;
    margin: 0 auto 60px auto; }
  @media (min-width: 992px) {
    .block__twelve {
      padding-top: 70px; } }
  @media (min-width: 1300px) {
    .block__twelve {
      padding-top: 110px; }
      .block__twelve .h2 {
        margin-bottom: 90px; } }
  @media (min-width: 1460px) {
    .block__twelve .h2 {
      margin-bottom: 160px; } }

.staff {
  padding: 0;
  margin: 0 -15px;
  list-style: none; }
  .staff > li {
    padding: 0 15px;
    margin-bottom: 70px; }
  .staff__elem {
    width: 270px;
    margin: 0 auto; }
  .staff__photo {
    width: 270px;
    margin-bottom: 20px; }
  .staff__user {
    height: 40px;
    padding-right: 25px;
    position: relative; }
    .staff__user_name {
      color: #313131;
      font-size: 18px;
      font-weight: 500;
      line-height: 20px; }
    .staff__user_icon {
      top: 0;
      right: 0;
      height: 25px;
      display: block;
      position: absolute; }
  .staff__info {
    height: 45px;
    color: #313131;
    font-size: 14px;
    font-weight: 300;
    line-height: 23px; }
  .staff__type {
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    color: #30b458;
    margin-bottom: 45px; }
  .staff .btn {
    width: 100%; }
  @media (min-width: 768px) {
    .staff {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .staff > li {
        width: 50%; } }
  @media (min-width: 992px) {
    .staff > li {
      width: 33.33%;
      margin-bottom: 90px; } }

.block__thirteen {
  background: #fff;
  padding-top: 30px;
  padding-bottom: 60px; }
  .block__thirteen .h2 {
    max-width: 420px;
    margin: 0 auto 50px auto; }
  .block__thirteen .review-slider {
    padding-top: 50px; }
  .block__thirteen .swiper-pagination {
    top: 10px;
    bottom: auto;
    font-size: 18px;
    font-weight: 300;
    line-height: 20px;
    color: #30b458;
    font-family: "Montserrat Alternates", Arial, sans-serif; }
  .block__thirteen .swiper-button-next,
  .block__thirteen .swiper-button-prev {
    top: 30px;
    width: 30px;
    height: 30px;
    font-size: 0;
    line-height: 0;
    padding: 11px 0;
    text-align: center;
    display: inline-block;
    background: #30b458;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .block__thirteen .swiper-button-next i,
    .block__thirteen .swiper-button-prev i {
      width: 12px;
      height: 8px;
      display: inline-block; }
    .block__thirteen .swiper-button-next:hover,
    .block__thirteen .swiper-button-prev:hover {
      opacity: 0.8;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
  .block__thirteen .swiper-button-prev {
    left: 0; }
  .block__thirteen .swiper-button-next {
    left: 35px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  @media (min-width: 768px) {
    .block__thirteen {
      padding-bottom: 80px; } }
  @media (min-width: 992px) {
    .block__thirteen .h2 {
      margin-bottom: 60px; }
    .block__thirteen .review-slider {
      padding-top: 90px; } }
  @media (min-width: 1300px) {
    .block__thirteen {
      padding-top: 50px;
      padding-bottom: 150px; }
      .block__thirteen .review-slider {
        padding-top: 80px; } }
  @media (min-width: 1460px) {
    .block__thirteen {
      padding-bottom: 260px; }
      .block__thirteen .h2 {
        margin-bottom: 100px; } }

.review {
  z-index: 100;
  text-align: center;
  position: relative; }
  .review__image {
    width: 210px;
    margin: 0 auto 20px auto; }
    .review__image a {
      width: 210px;
      display: block;
      position: relative;
      -webkit-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.1);
      box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.1); }
      .review__image a:before {
        z-index: 5;
        top: 50%;
        left: 50%;
        content: '';
        width: 33px;
        height: 33px;
        display: block;
        opacity: 0;
        position: absolute;
        visibility: hidden;
        margin: -16px 0 0 -16px;
        background: url("../img/icon_loop.png") 0 0 no-repeat;
        background-size: cover;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
      .review__image a:after {
        z-index: 4;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        opacity: 0;
        visibility: hidden;
        position: absolute;
        background: rgba(255, 255, 255, 0.8);
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
      .review__image a:hover:after, .review__image a:hover:before {
        opacity: 1;
        visibility: visible;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
  .review__text h4 {
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 15px;
    color: #30b458; }
  .review__text p {
    margin-bottom: 0; }
  @media (min-width: 768px) {
    .review {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      text-align: left; }
      .review__image {
        width: 260px;
        margin: 0;
        min-width: 260px;
        padding-left: 50px; }
      .review__text {
        padding-top: 40px;
        padding-left: 30px;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -moz-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1; }
        .review__text h4 {
          margin-bottom: 35px; } }
  @media (min-width: 1300px) {
    .review__image {
      width: 310px;
      min-width: 310px;
      padding-left: 100px; }
    .review__text {
      padding-left: 50px; } }

.block__fourteen {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  background: #fff; }
  .block__fourteen .container {
    z-index: 50;
    position: relative; }
  .block__fourteen .contacts {
    padding: 20px;
    background: #fff;
    position: relative; }
    .block__fourteen .contacts:before {
      top: 0;
      content: '';
      height: 100%;
      width: 2000px;
      right: -2000px;
      display: block;
      background: #fff;
      position: absolute; }
    .block__fourteen .contacts__title {
      color: #313131;
      font-size: 36px;
      font-weight: 500;
      line-height: 40px;
      position: relative;
      margin-bottom: 70px;
      padding-bottom: 15px;
      font-family: "Montserrat Alternates", Arial, sans-serif; }
      .block__fourteen .contacts__title:before {
        left: 0;
        bottom: 0;
        content: '';
        width: 45px;
        height: 2px;
        position: absolute;
        background: #30b458; }
    .block__fourteen .contacts__name {
      color: #30b458;
      text-decoration: none; }
      .block__fourteen .contacts__name:hover {
        text-shadow: 1px 1px 14px rgba(41, 179, 84, 0.6); }
    .block__fourteen .contacts ul {
      margin: 0;
      padding: 0;
      list-style: none;
      color: #313131;
      font-size: 14px;
      font-weight: 300;
      line-height: 24px; }
      .block__fourteen .contacts ul li {
        margin-bottom: 55px; }
        .block__fourteen .contacts ul li strong {
          display: block;
          font-size: 18px;
          font-weight: 500;
          line-height: 20px;
          color: #30b458;
          margin-bottom: 15px; }
        .block__fourteen .contacts ul li p {
          margin-bottom: 15px; }
        .block__fourteen .contacts ul li .tel {
          font-size: 14px;
          font-weight: 300;
          line-height: 15px;
          color: #30b458;
          padding-left: 30px;
          position: relative;
          text-decoration: none;
          display: inline-block; }
          .block__fourteen .contacts ul li .tel:before {
            top: 0;
            left: 0;
            width: 15px;
            height: 15px;
            content: '';
            display: block;
            position: absolute;
            background: url("../img/icon_phone.svg") 0 0 no-repeat;
            background-size: cover; }
          .block__fourteen .contacts ul li .tel:hover span {
            text-decoration: underline; }
  .block__fourteen .map {
    font-size: 0;
    line-height: 0;
    z-index: 100;
    display: none; }
    .block__fourteen .map__wrap {
      width: 100%;
      height: 100%;
      position: relative; }
    .block__fourteen .map__content {
      width: 1600px;
      position: relative; }
      .block__fourteen .map__content img {
        display: block; }
    .block__fourteen .map__item {
      z-index: 10;
      width: 150px;
      color: #fff;
      font-size: 18px;
      line-height: 20px;
      text-align: center;
      padding-top: 75px;
      position: absolute; }
      .block__fourteen .map__item:after, .block__fourteen .map__item:before {
        top: 0;
        z-index: 10;
        left: 50%;
        width: 50px;
        content: '';
        height: 78px;
        position: absolute;
        background: url("../img/flag.png") no-repeat;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
      .block__fourteen .map__item:after {
        background-position: -50px 0; }
      .block__fourteen .map__item:before {
        background-position: 0 0;
        opacity: 0;
        visibility: hidden; }
      .block__fourteen .map__item:hover {
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
        .block__fourteen .map__item:hover:after {
          opacity: 0;
          visibility: hidden; }
        .block__fourteen .map__item:hover:before {
          opacity: 1;
          visibility: visible; }
      .block__fourteen .map__item.item_moscow {
        top: 343px;
        left: 11px; }
      .block__fourteen .map__item.item_novorossisk {
        top: 520px;
        left: 11px; }
      .block__fourteen .map__item.item_eburg {
        top: 320px;
        left: 245px; }
      .block__fourteen .map__item.item_astana {
        top: 422px;
        left: 360px; }
      .block__fourteen .map__item.item_vladivostok {
        top: 545px;
        left: 985px; }
  @media (min-width: 768px) {
    .block__fourteen .contacts {
      float: right;
      width: 370px;
      padding: 40px 20px 40px 70px; }
    .block__fourteen .map {
      top: 0;
      left: 0;
      right: 50%;
      bottom: 0;
      margin-right: 10px;
      display: block;
      position: absolute; } }
  @media (min-width: 992px) {
    .block__fourteen .map {
      margin-right: -100px; } }
  @media (min-width: 1300px) {
    .block__fourteen .contacts {
      width: 415px;
      padding: 40px 20px 40px 70px; }
    .block__fourteen .map {
      margin-right: -205px; } }
  @media (min-width: 1460px) {
    .block__fourteen .map {
      margin-right: -285px; } }

.scroll-wrapper {
  width: 100%;
  height: 100%;
  max-height: 100%; }

.footer {
  color: #fff;
  text-align: center;
  padding: 60px 0;
  background: #1f263b; }
  .footer__nav {
    padding: 0;
    font-size: 0;
    line-height: 0;
    margin: 0 -10px 30px -10px;
    list-style: none; }
    .footer__nav > li {
      padding: 0 10px;
      display: inline-block; }
      .footer__nav > li a {
        color: #fff;
        font-size: 14px;
        line-height: 20px;
        text-decoration: none; }
        .footer__nav > li a:hover {
          text-decoration: underline; }
  .footer__contact {
    margin: 0 0 30px 0;
    padding: 0;
    list-style: none; }
    .footer__contact li:first-child {
      margin-bottom: 15px; }
    .footer__contact li:last-child a {
      color: #fff;
      font-size: 14px;
      line-height: 20px;
      text-decoration: none; }
      .footer__contact li:last-child a:hover {
        text-decoration: underline; }
  .footer__phone {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    padding-left: 30px;
    position: relative;
    white-space: nowrap;
    text-decoration: none;
    display: inline-block;
    font-family: "Montserrat Alternates", Arial, sans-serif; }
    .footer__phone:before {
      top: 2px;
      left: 0;
      width: 15px;
      height: 15px;
      content: '';
      display: block;
      position: absolute;
      background: url("../img/icon_phone.svg") 0 0 no-repeat;
      background-size: cover; }
  .footer__dev {
    color: #fff;
    font-size: 15px;
    line-height: 20px;
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 8px 60px 8px 0; }
    .footer__dev:before {
      top: 0;
      right: 0;
      width: 36px;
      height: 36px;
      content: '';
      display: block;
      position: absolute;
      background: url("../img/updesign.svg") 0 0 no-repeat; }
  .footer__copy {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 30px;
    color: #30b458; }
  .footer__link {
    max-width: 460px;
    color: #dcdcdc;
    font-size: 10px;
    font-weight: 300;
    line-height: 21px;
    margin: 0 auto 30px auto;
    text-decoration: none; }
    .footer__link a {
      color: #dcdcdc;
      text-decoration: underline; }
      .footer__link a:hover {
        text-decoration: none; }
  @media (min-width: 768px) {
    .footer {
      text-align: left; }
      .footer__row {
        margin-bottom: 60px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        justify-content: space-between; }
      .footer__left__nav > li {
        float: left;
        text-align: left; }
        .footer__left__nav > li a {
          text-decoration: none; }
          .footer__left__nav > li a:hover {
            text-decoration: underline; }
      .footer__right {
        text-align: right; }
      .footer__contact {
        margin-bottom: 0; } }
  @media (min-width: 992px) {
    .footer {
      padding-top: 100px;
      padding-bottom: 100px; } }
  @media (min-width: 1460px) {
    .footer {
      padding-top: 130px;
      padding-bottom: 130px; } }

/*# sourceMappingURL=main.css.map */
