.block__seven {
	color: #fff;
	padding: 50px 0;
	;position: relative;
	background: transparent;
//	background: url("../img/block_seven__bg.jpg") 50% 50% no-repeat;
	background-size: cover;

	&:before {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 10;
		content: '';
		background: rgba(0, 0, 0, 0.4);
		position: absolute;
	}

	.container {
		z-index: 50;
		position: relative;
	}

	.seven-heading {
		overflow: hidden;
		max-width: 960px;
		font-size: 40px;
		font-weight: 900;
		line-height: 40px;
		text-align: center;
		margin: 0 auto 40px auto;

		span {
			display: inline-block;
			position: relative;

			&:after,
			&:before {
				top: 50%;
				z-index: 1;
				content: '';
				height: 2px;
				width: 200px;
				background: #fff;
				margin-top: -1px;
				position: absolute;
			}

			&:after {
				left: -230px;
			}

			&:before {
				right: -230px;
			}
		}
	}

	.text {
		font-weight: 500;
		max-width: 640px;
		font-size: 24px;
		line-height: 1.6;
		text-align: center;
		font-family: $font-head;
		margin: 0 auto 30px auto;
	}

	.icon {
		width: 120px;
		margin: 0 auto;
	}

	@media (min-width: $screen-sm-min) {

		.seven-heading {
			font-size: 70px;
			line-height: 60px;
		}

		.text {
			font-size: 36px;
		}
	}

	@media (min-width: $screen-md-min) {
		height: 700px;
		padding-top: 100px;
	}

	@media (min-width: $screen-lg-min) {

	}

	@media (min-width: $screen-xl-min) {

	}
}