.block_four {
	padding-top: 50px;
	padding-bottom: 80px;
	background: url("../img/block_four__bg.jpg") 0 50% no-repeat;
	background-size: cover;

	h2,
	.h2 {
		max-width: 620px;
		margin: 0 auto 50px auto;
	}

	.step {
		margin: 0;
		padding: 0;
		list-style: none;
		position: relative;

		> li {
			min-height: 40px;
			padding-left: 60px;
			position: relative;
			margin-bottom: 40px;

			&:after {
				top: 45px;
				left: 19px;
				width: 2px;
				content: '';
				bottom: -35px;
				position: absolute;
				background: #bfbfbf;
			}

			&:last-child {
				margin-bottom: 0;

				&:after {
					display: none;
				}

				.step__num {
					font-size: 30px;
				}
			}

			&:hover {

				.step__num {
					@include box-shadow(0 0 55px 10px rgba(41, 179, 84, 0.9));
					@include transition(.3s);
				}
			}
		}

		&__num {
			top: 0;
			left: 0;
			z-index: 10;
			width: 40px;
			height: 40px;
			color: #ffffff;
			padding: 5px 0;
			font-size: 20px;
			font-weight: 700;
			line-height: 30px;
			text-align: center;
			position: absolute;
			background: #30b458;
			@include border-radius(50%);
			@include box-shadow(0px 5px 10px 0px rgba(41, 179, 84, 0.80));
			@include transition(.3s);
		}

		&__text {
			color: #434343;
			font-size: 14px;
			line-height: 20px;
			min-height: 40px;
			@include flexbox();

			&_wrap {
				margin:  auto 0;
			}

			strong {
				font-weight: 600;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		.step {
			margin-left: 200px;

			> li {
				min-height: 80px;
				padding-left: 125px;
				margin-bottom: 70px;

				&:after {
					top: 90px;
					left: 39px;
					bottom: -60px;
				}

				&:last-child {

					.step__num {
						font-size: 45px;
					}
				}
			}

			&__num {
				width: 80px;
				height: 80px;
				padding: 15px 0;
				font-size: 24px;
				line-height: 50px;
				@include border-radius(50%);
			}

			&__text {
				max-width: 440px;
				font-size: 14px;
				line-height: 25px;
				min-height: 80px;
			}
		}
	}

	@media (min-width: $screen-md-min) {
		padding-top: 90px;
		padding-bottom: 120px;

		.step {
			margin-left: 350px;
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-bottom: 160px;

		.step {
			margin-left: 450px;
		}

		h2,
		.h2 {
			margin-bottom: 80px;
		}
	}

	@media (min-width: $screen-xl-min) {
		padding-top: 140px;
		padding-bottom: 300px;

		h2,
		.h2 {
			margin-bottom: 110px;
		}

		.step {
			margin-left: 540px;
		}
	}

}