
.block_three {
	background: #fff;
	padding-top: 40px;

	h2,
	.h2 {
		margin-bottom: 50px;
	}

	@media (min-width: $screen-md-min) {

		h2,
		.h2 {
			margin-bottom: 90px;
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-top: 70px;

		h2,
		.h2 {
			margin-bottom: 140px;
		}
	}
}

.advantage {
	padding: 0;
	list-style: none;
	margin: 0 -15px;

	li {
		color: #313131;
		padding: 0 15px;
		text-align: center;
		margin-bottom: 60px;
	}

	&__icon {
		height: 84px;
		margin-bottom: 40px;

		img {
			display: inline-block;
		}
	}

	&__title {
		font-size: 18px;
		font-weight: 500;
		line-height: 30px;
		margin-bottom: 15px;
	}

	&__text {
		font-size: 14px;
		font-weight: 300;
		line-height: 28px;
		max-width: 255px;
		margin: 0 auto;
	}

	@media (min-width: $screen-sm-min) {
		@include flexbox();
		@include flex-wrap(wrap);
		@include justify-content(space-between);

		li {
			width: 50%;
		}
	}


	@media (min-width: $screen-md-min) {

		li {
			width: 33.33%;
			text-align: left;
			padding-left: 50px;
			margin-bottom: 80px;
		}

		&__text {
			margin: 0;
		}
	}

	@media (min-width: $screen-lg-min) {

		li {
			padding-left: 90px;
		}
	}

	@media (min-width: $screen-xl-min) {

		li {
			padding: 0 90px;
			margin-bottom: 160px;
		}
	}
}