.block__nine {
	background: #fff;
	padding-top: 50px;
	padding-bottom: 30px;

	h2,
	.h2 {
		margin-bottom: 50px;
	}

	.clients {
		padding: 0;
		margin: 0 -15px;
		list-style: none;
		text-align: center;
		@include flexbox();
		@include flex-wrap(wrap);

		> li {
			width: 50%;
			padding: 0 15px;
			margin-bottom: 50px;
			@include flexbox();
		}

		.ico-svg {
			width: 100%;
			height: auto;
		}

		div {
			width: 120px;
			margin: auto;
		}
	}

	@media (min-width: $screen-sm-min) {

		.clients {

			> li {
				width: 33.33%;
				margin-bottom: 80px;
			}

			div {
				width: 160px;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		h2,
		.h2 {
			margin-bottom: 70px;
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-top: 70px;

		h2,
		.h2 {
			margin-bottom: 100px;
		}

		.clients {

			> li {
				margin-bottom: 100px;
			}

			div {
				width: 220px;
			}
		}

	}

	@media (min-width: $screen-xl-min) {
		padding-top: 120px;
		padding-bottom: 20px;

		.clients {

			> li {
				margin-bottom: 180px;
			}
		}
	}

}
