.block__eleven {
	color: #fff;
	padding-top: 60px;
	padding-bottom: 60px;
	position: relative;
	background: url("../img/block_eleven_bg.jpg") 50% 50% no-repeat;
	background-size: cover;

	&:before {
		top:0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 10;
		content: '';
		background: rgba(0,0,0,0.7);
		position: absolute;
	}

	.container {
		z-index: 50;
		position: relative;
	}

	h2,
	.h2 {
		color: #fff;
		margin-bottom: 50px;
	}

	@media (min-width: $screen-md-min) {
		height: 400px;
		padding-top: 80px;

		h2,
		.h2 {
			margin-bottom: 75px;
		}
	}

	@media (min-width: $screen-lg-min) {

	}

	@media (min-width: $screen-xl-min) {

	}

}