.block__thirteen {
	background: #fff;
	padding-top: 30px;
	padding-bottom: 60px;

	.h2 {
		max-width: 420px;
		margin: 0 auto 50px auto;
	}

	.review-slider {
		padding-top: 50px;
	}

	.swiper-pagination {
		top: 10px;
		bottom: auto;
		font-size: 18px;
		font-weight: 300;
		line-height: 20px;
		color: $color-green;
		font-family: $font-head;
	}

	.swiper-button-next,
	.swiper-button-prev {
		top: 30px;
		width: 30px;
		height: 30px;
		font-size: 0;
		line-height: 0;
		padding: 11px 0;
		text-align: center;
		display: inline-block;
		background: $color-green;
		@include border-radius(50%);
		@include transition(.3s);

		i {
			width: 12px;
			height: 8px;
			display: inline-block;
		}

		&:hover {
			opacity: 0.8;
			@include transition(.3s);
		}
	}

	.swiper-button-prev {
		left: 0;
	}

	.swiper-button-next {
		left: 35px;
		@include rotate(180deg);
	}

	@media (min-width: $screen-sm-min) {
		padding-bottom: 80px;
	}


	@media (min-width: $screen-md-min) {

		.h2 {
			margin-bottom: 60px;
		}

		.review-slider {
			padding-top: 90px;
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-top: 50px;
		padding-bottom: 150px;


		.review-slider {
			padding-top: 80px;
		}
	}

	@media (min-width: $screen-xl-min) {
		padding-bottom: 260px;

		.h2 {
			margin-bottom: 100px;
		}
	}
}

.review {
	z-index: 100;
	text-align: center;
	position: relative;

	&__image {
		width: 210px;
		margin: 0 auto 20px auto;

		a {
			width: 210px;
			display: block;
			position: relative;
			@include box-shadow(4px 4px 8px 0px rgba(0, 0, 0, 0.1));

			&:before {
				z-index: 5;
				top: 50%;
				left: 50%;
				content: '';
				width: 33px;
				height: 33px;
				display: block;
				opacity: 0;
				position: absolute;
				visibility: hidden;
				margin: -16px 0 0 -16px;
				background: url("../img/icon_loop.png") 0 0 no-repeat;
				background-size: cover;
				@include transition(0.3s);
			}

			&:after {
				z-index: 4;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				content: '';
				opacity: 0;
				visibility: hidden;
				position: absolute;
				background: rgba(255,255,255,0.8);
				@include transition(0.3s);
			}

			&:hover {

				&:after,
				&:before {
					opacity: 1;
					visibility: visible;
					@include transition(0.3s);
				}

			}
		}
	}

	&__text {

		h4 {
			font-size: 18px;
			font-weight: 500;
			line-height: 20px;
			margin-bottom: 15px;
			color: $color-green;
		}

		p {
			margin-bottom: 0;
		}
	}

	@media (min-width: $screen-sm-min) {
		@include flexbox();
		text-align: left;

		&__image {
			width: 260px;
			margin: 0;
			min-width: 260px;
			padding-left: 50px;
		}

		&__text {
			padding-top: 40px;
			padding-left: 30px;
			@include flex-grow(1);

			h4 {
				margin-bottom: 35px;
			}
		}
	}

	@media (min-width: $screen-md-min) {

	}

	@media (min-width: $screen-lg-min) {

		&__image {
			width: 310px;
			min-width: 310px;
			padding-left: 100px;
		}

		&__text {
			padding-left: 50px;
		}
	}

	@media (min-width: $screen-xl-min) {

	}

}