// Block One

.block_one {
	background: #fff;
	padding-top: 60px;
	padding-bottom: 30px;

	h2,
	.h2 {
		margin-bottom: 40px;
	}

	@media (min-width: $screen-md-min) {

		h2,
		.h2 {
			margin-bottom: 80px;
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-top: 100px;
	}

	@media (min-width: $screen-xl-min) {
		padding-top: 150px;
	}
}

.docs {

	&__nav {
		padding: 0;
		list-style: none;
		margin: 0 -15px 40px -15px;
		@include flexbox();
		@include flex-wrap(wrap);
		@include justify-content(center);

		> li {
			padding: 0 15px;
			margin-bottom: 5px;

			a {
				color: #535353;
				font-size: 16px;
				line-height: 20px;
				padding-bottom: 4px;
				display: inline-block;
				text-decoration: none;
				border-bottom: 2px solid transparent;
				@include transition(.3s);

				&:hover {
					color: $color-green;
					border-bottom-color: $color-green;
					@include transition(.3s);
				}
			}

			&.active {

				a {
					color: $color-green;
					border-bottom-color: $color-green;
				}
			}
		}
	}

	&__row {
		padding: 0;
		margin: 0 -15px;
		list-style: none;

		> li {
			color: #535353;
			font-size: 18px;
			font-weight: 500;
			line-height: 22px;
			text-align: center;
			margin-bottom: 80px;
			padding: 0 15px;

			span {
				display: block;
			}
		}
	}

	&__icon {
		left: 0;
		right: 0;
		top: 10px;
		height: 110px;
		position: absolute;

		&.icon02 {
			top: -10px;
			height: 125px;
		}

		&.icon03 {
			top: 5px;
			height: 115px;
		}

		&.icon06 {
			top: 0;
			height: 120px;
		}

		&.icon07 {
			top: -3px;
			height: 125px;
		}
	}

	&__content {
		position: relative;
		padding-top: 140px;
		padding-bottom: 40px;
	}

	@media (min-width: $screen-sm-min) {

		&__nav {
			margin-bottom: 60px;
		}

		&__row {
			@include flexbox();
			@include flex-wrap(wrap);

			> li {
				width: 50%;
				@include flexbox();
				@include flex-direction(column);
			}
		}

		&__content {
			@include flex-grow(1);
		}
	}

	@media (min-width: $screen-md-min) {

		&__nav {
			margin-bottom: 50px;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__nav {
			margin-bottom: 80px;

		}

		&__row {

			> li {
				width: 33.33%;
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		&__nav {
			margin-bottom: 110px;

			> li {
				padding: 0 30px;

				a {
					font-size: 18px;
				}
			}
		}

		&__row {

			> li {
				margin-bottom: 90px;
			}
		}
	}
}


