
.block_two {
	background: #fff;
	padding-top: 50px;
	padding-bottom: 40px;

	h2,
	.h2 {
		max-width: 750px;
		margin: 0 auto 60px auto;
	}

	.row {

	}

	.col {

		&:first-child {
			margin-bottom: 50px;
		}
	}


	@media (min-width: $screen-sm-min) {

		.col {

			&:first-child {
				margin-bottom: 70px;
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-bottom: 70px;

		h2,
		.h2 {
			max-width: 750px;
			margin: 0 auto 100px auto;
		}

		.row {

			@include flexbox();
		}

		.col {
			width: 50%;

			&:first-child {
				margin-bottom: 0;
			}
		}
	}

}

.errors {

	&__content {
		border-bottom: 2px solid $color-green;
	}

	&__media {
		display: none;

		&_img {
			top: 0;
			left: 0;
			z-index: 5;
			width: 100%;
			height: 100%;
			position: absolute;
		}

		&_video {
			top: 0;
			left: 0;
			z-index: 10;
			width: 100%;
			height: 100%;
			display: none;
			position: absolute;
			background: #fff;
		}
	}

	&__text {
		font-size: 14px;
		font-weight: 300;
		line-height: 28px;
		padding-bottom: 5px;

		h4 {
			color: #313131;
			font-size: 24px;
			font-weight: 500;
			line-height: 35px;
			margin-bottom: 30px;
		}

		p {
			margin-bottom: 0;
		}
	}

	&__user {
		padding-top: 20px;

		strong {
			display: block;
			font-size: 14px;
			font-weight: 400;
			line-height: 28px;
		}

		span {
			font-size: 12px;
			line-height: 20px;
			color: $color-green;
		}
	}

	@media (min-width: $screen-sm-min) {

		&__content {
			min-height: 380px;
			position: relative;
			padding-left: 260px;
		}

		&__media {
			bottom: 0;
			left: 20px;
			height: 349px;
			width: 220px;
			display: block;
			overflow: hidden;
			position: absolute;
		}

		&__text {
			padding-left: 30px;

			h4 {
				//		min-height: 105px;
			}
		}

		&__user {
			padding-left: 260px;
		}
	}

	@media (min-width: $screen-md-min) {

		&__text {
			padding-top: 20px;
			padding-left: 30px;
		}

		&__user {
			padding-left: 290px;
		}
	}

	@media (min-width: $screen-lg-min) {
		height: 100%;
		@include flexbox();
		@include flex-direction(column);

		&__content {
			@include flex-grow(1);
		}

		&__text {
			padding-top: 0;
			padding-left: 0;

			h4 {
				min-height: 105px;
			}
		}

		&__user {
			padding-left: 260px;
		}

		&__media {

			&_video {
				display: block;
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		&__text {

			h4 {
				padding-left: 20px;
			}
		}

		&__user {
			padding-left: 280px;
		}
	}
}

