.block__eight {
	color: #fff;
	padding-top: 60px;
	padding-bottom: 70px;
	background: url("../img/block_eight__bg.jpg") 50% 50% no-repeat;
	background-size: cover;

	h2,
	.h2 {
		margin-bottom: 50px;
	}

	.column {
		margin-bottom: 50px;
	}


	@media (min-width: $screen-sm-min) {

		h2,
		.h2 {
			margin-bottom: 60px;
		}

		.rows {
			@include flexbox();
		}

		.column {
			width: 33.33%;
			margin-bottom: 0;
		}
	}

	@media (min-width: $screen-md-min) {
		padding-top: 80px;
		padding-bottom: 100px;

		h2,
		.h2 {
			margin-bottom: 80px;
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-top: 100px;
		padding-bottom: 140px
	}

	@media (min-width: $screen-xl-min) {
		padding-top: 150px;
		padding-bottom: 230px;


		.h2 {
			margin-bottom: 150px;
		}
	}
}


.graph {
	width: 230px;
	height: 230px;
	margin-bottom: 50px;
	position: relative;

	.chart {
		z-index: 10;
		width: 100%;
		height: 100%;
		position: relative;
	}

	.legend {
		top:30px;
		left: 30px;
		z-index: 5;
		width: 170px;
		height: 170px;
		background: #252d44;
		text-align: center;
		position: absolute;
		@include flexbox();
		@include border-radius(50%);

		&__wrap {
			color: #fff;
			padding: 10px 10px;
			width: 100%;
			font-weight: 300;
			text-align: center;
			margin: auto 0;
		}

		&__value {
			font-size: 36px;
		}

		&__text {
			display: none;
			font-size: 12px;
			line-height: 20px;
		}

		&__base {
			color: #646e8b;
			font-size: 14px;
			line-height: 26px;
			font-weight: 300;
			text-transform: uppercase;
		}

		&.hover {

			.legend__text {
				display: block;
			}

			.legend__base {
				display: none;
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		margin: 0 auto 80px auto;
	}

	@media (min-width: $screen-lg-min) {
		width: 300px;
		height: 300px;

		.legend {
			top:40px;
			left: 40px;
			z-index: 5;
			width: 220px;
			height: 220px;
		}
	}
}

.diagram {
	margin: 0 auto;
	width: 230px;


	h4 {
		font-size: 18px;
		font-weight: 300;
		line-height: 30px;
		margin-bottom: 20px;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		> li {
			color: #fff;
			cursor: default;
			font-size: 12px;
			font-weight: 300;
			line-height: 20px;
			padding-left: 25px;
			position: relative;
			margin-bottom: 15px;
			@include transition(.3s);

			&:before {
				top: 4px;
				left: 0;
				width: 12px;
				height: 12px;
				content: '';
				background: #fff;
				position: absolute;
				display: inline-block;
				@include border-radius(50%);
				-webkit-filter: blur(2px);
				filter: blur(2px);
				@include transition(.3s);
			}

			&:hover {
				@include transition(.3s);

				&:before {
					@include scale(1.2);
					@include transition(.3s);
				}
			}
		}

		&.diagram_one {

			li {

				&:nth-child(1) {

					&:before {
						background: #e44d46;
					}

					&:hover {
						color: #e44d46;
					}
				}

				&:nth-child(2) {

					&:before {
						background: #3b27cc;
					}

					&:hover {
						color: #3b27cc;
					}
				}
			}
		}

		&.diagram_two {

			li {

				&:nth-child(1) {

					&:before {
						background: #81dd50;
					}

					&:hover {
						color: #81dd50;
					}
				}

				&:nth-child(2) {

					&:before {
						background: #dc7122;
					}

					&:hover {
						color: #dc7122;
					}
				}

				&:nth-child(3) {

					&:before {
						background: #e086cf;
					}

					&:hover {
						color: #e086cf;
					}
				}

				&:nth-child(4) {

					&:before {
						background: #6565aa;
					}

					&:hover {
						color: #6565aa;
					}
				}

				&:nth-child(5) {

					&:before {
						background: #fbc335;
					}

					&:hover {
						color: #fbc335;
					}
				}

				&:nth-child(6) {

					&:before {
						background: #3b27cc;
					}

					&:hover {
						color: #3b27cc;
					}
				}

				&:nth-child(7) {

					&:before {
						background: #8e58b1;
					}

					&:hover {
						color: #8e58b1;
					}
				}

				&:nth-child(8) {

					&:before {
						background: #11cfce;
					}

					&:hover {
						color: #11cfce;
					}
				}

				&:nth-child(9) {

					&:before {
						background: #f15047;
					}

					&:hover {
						color: #f15047;
					}
				}
			}
		}

		&.diagram_three {

			li {

				&:nth-child(1) {

					&:before {
						background: #fac235;
					}

					&:hover {
						color: #fac235;
					}
				}

				&:nth-child(2) {

					&:before {
						background: #3b27cc;
					}

					&:hover {
						color: #3b27cc;
					}
				}

				&:nth-child(3) {

					&:before {
						background: #f45047;
					}

					&:hover {
						color: #f45047;
					}
				}
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		margin: 0 auto;
	}

	@media (min-width: $screen-lg-min) {
		width: 300px;
	}
}


// Colors

.chart__one_01 {
	fill: #f45047;

	&.hover,
	&:hover {
		stroke: rgba(244,80,71,0.6);
	}
}

.chart__one_02 {
	fill: #3b27cc;

	&.hover,
	&:hover {
		stroke: rgba(59,39,204,0.6);
	}
}

.ico-svg {
	overflow: visible !important;
}

//------

.chart_elem {
	@include transition(.3s);

	&.hover,
	&:hover {
		z-index: 10;
		stroke-width: 8;
		@include transition(.3s);
	}
}


.chart__two_01 {
	fill: #80dd50;
	overflow: visible;

	&.hover,
	&:hover {
		stroke: rgba(128,221,80,0.6);
	}
}


.chart__two_02 {
	fill: #dd7222;
	overflow: visible;

	&.hover,
	&:hover {
		stroke: rgba(221,114,34,0.6);
	}
}

.chart__two_03 {
	fill: #e086cf;

	&.hover,
	&:hover {
		stroke: rgba(224,134,207,0.6);
	}
}

.chart__two_04 {
	fill: #6565aa;

	&.hover,
	&:hover {
		stroke: rgba(101,101,170,0.6);
	}
}

.chart__two_05 {
	fill: #fcc335;

	&.hover,
	&:hover {
		stroke: rgba(252,195,153,0.6);
	}
}

.chart__two_06 {
	fill: #3b27cc;

	&.hover,
	&:hover {
		stroke: rgba(59,39,204,0.6);
	}
}

.chart__two_07 {
	fill: #8f59b2;

	&.hover,
	&:hover {
		stroke: rgba(143,98,178,0.6);
	}
}

.chart__two_08 {
	fill: #33bcba;

	&.hover,
	&:hover {
		stroke: rgba(51,188,86,0.6);
	}
}

.chart__two_09 {
	fill: #f45047;

	&.hover,
	&:hover {
		stroke: rgba(244,80,71,0.6);
	}
}

//------

.chart__three_01 {
	fill: #fcc335;

	&.hover,
	&:hover {
		stroke: rgba(252,195,53,0.6);
	}
}

.chart__three_02 {
	fill: #3b27cc;

	&.hover,
	&:hover {
		stroke: rgba(59,39,204,0.6);
	}
}

.chart__three_03 {
	fill: #f55d45;

	&.hover,
	&:hover {
		stroke: rgba(245,93,69,0.6);
	}
}