.block__fourteen {
	position: relative;
	max-width: 100%;
	overflow: hidden;
	background: #fff;


	.container {
		z-index: 50;
		position: relative;
	}

	.contacts {
		padding: 20px;
		background: #fff;
		position: relative;

		&:before {
			top: 0;
			content: '';
			height: 100%;
			width: 2000px;
			right: -2000px;
			display: block;
			background: #fff;
			position: absolute;
		}

		&__title {
			color: #313131;
			font-size: 36px;
			font-weight: 500;
			line-height: 40px;
			position: relative;
			margin-bottom: 70px;
			padding-bottom: 15px;
			font-family: $font-head;

			&:before {
				left: 0;
				bottom: 0;
				content: '';
				width: 45px;
				height: 2px;
				position: absolute;
				background: $color-green;
			}
		}

		&__name {
			color: $color-green;
			text-decoration: none;

			&:hover {
				text-shadow: 1px 1px 14px rgba(41, 179, 84, 0.6);
			}
		}

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			color: #313131;
			font-size: 14px;
			font-weight: 300;
			line-height: 24px;

			li {
				margin-bottom: 55px;

				strong {
					display: block;
					font-size: 18px;
					font-weight: 500;
					line-height: 20px;
					color: $color-green;
					margin-bottom: 15px;
				}

				p {
					margin-bottom: 15px;
				}

				.tel {
					font-size: 14px;
					font-weight: 300;
					line-height: 15px;
					color: $color-green;
					padding-left: 30px;
					position: relative;
					text-decoration: none;
					display: inline-block;

					&:before {
						top: 0;
						left: 0;
						width: 15px;
						height: 15px;
						content: '';
						display: block;
						position: absolute;
						background: url("../img/icon_phone.svg") 0 0 no-repeat;
						background-size: cover;
					}

					span {

					}

					&:hover {

						span {
							text-decoration: underline;
						}
					}
				}
			}
		}
	}

	.map {
		font-size: 0;
		line-height: 0;
		z-index: 100;
		display: none;

		&__wrap {
			width: 100%;
			height: 100%;
			position: relative;
		}


		&__content {
			width: 1600px;
			position: relative;

			img {
				display: block;
			}
		}

		&__item {
			z-index: 10;
			width: 150px;
			color: #fff;
			font-size: 18px;
			line-height: 20px;
			text-align: center;
			padding-top: 75px;
			position: absolute;

			&:after,
			&:before {
				top: 0;
				z-index: 10;
				left: 50%;
				width: 50px;
				content: '';
				height: 78px;
				position: absolute;
				background: url("../img/flag.png") no-repeat;
				@include transition(.3s);
			}

			&:after {
				background-position: -50px 0;
			}

			&:before {
				background-position: 0 0;
				opacity: 0;
				visibility: hidden;
			}

			&:hover {
				@include transition(.3s);

				&:after {
					opacity: 0;
					visibility: hidden;
				}

				&:before {
					opacity: 1;
					visibility: visible;
				}
			}

			&.item_moscow {
				top: 343px;
				left: 11px;
			}

			&.item_novorossisk {
				top: 520px;
				left: 11px;
			}

			&.item_eburg {
				top: 320px;
				left: 245px;
			}

			&.item_astana {
				top: 422px;
				left: 360px;
			}

			&.item_vladivostok {
				top: 545px;
				left: 985px;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		.contacts {
			float: right;
			width: 370px;
			padding: 40px 20px 40px 70px;
		}

		.map {
			top: 0;
			left: 0;
			right: 50%;
			bottom: 0;
			margin-right: 10px;
			display: block;
			position: absolute;
		}
	}

	@media (min-width: $screen-md-min) {

		.map {
			margin-right: -100px;
		}
	}

	@media (min-width: $screen-lg-min) {

		.contacts {
			width: 415px;
			padding: 40px 20px 40px 70px;
		}

		.map {
			margin-right: -205px;
		}
	}

	@media (min-width: $screen-xl-min) {


		.map {
			margin-right: -285px;
		}
	}
}

.scroll-wrapper {
	width: 100%;
	height: 100%;
	max-height: 100%;
}