.block__ten {
	color: #fff;
	padding-top: 60px;
	padding-bottom: 60px;
	background: url("../img/block_ten__bg.jpg") 50% 0 no-repeat;
	background-size: cover;

	h2,
	.h2 {
		margin-bottom: 40px;
	}

	.review-slider {
	//	padding-top: 50px;
	}

	.swiper-pagination {
		top: 10px;
		color: #fff;
		bottom: auto;
		font-size: 12px;
		font-weight: 300;
		line-height: 20px;
		text-align: left;
	}

	.swiper-button-next,
	.swiper-button-prev {
		top: 110px;
		width: 30px;
		height: 30px;
		font-size: 0;
		line-height: 0;
		padding: 11px 0;
		text-align: center;
		display: inline-block;
		background: $color-green;
		@include border-radius(50%);
		@include transition(.3s);

		i {
			width: 12px;
			height: 8px;
			display: inline-block;
		}

		&:hover {
			opacity: 0.8;
			@include transition(.3s);
		}
	}

	.swiper-button-prev {
		left: 0;
	}

	.swiper-button-next {
		left: 35px;
		@include rotate(180deg);
	}

	@media (min-width: $screen-sm-min) {

	}

	@media (min-width: $screen-md-min) {

		h2,
		.h2 {
			margin-bottom: 50px;
		}

		.swiper-button-next,
		.swiper-button-prev {

			top: 130px;
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-top: 100px;
		padding-bottom: 90px;

		h2,
		.h2 {
			margin-bottom: 70px;
		}
	}

	@media (min-width: $screen-xl-min) {

		.swiper-button-next,
		.swiper-button-prev {

			top: 150px;
		}
	}
}

.portfolio {
	padding-top: 50px;

	&__name {
		font-size: 16px;
		font-weight: 700;
		line-height: 24px;
		color: $color-green;
		margin-bottom: 60px;
	}

	&__row {
		margin-bottom: 40px;
	}

	&__result {

	}

	&__title {
		font-size: 12px;
		font-weight: 700;
		line-height: 20px;
		color: $color-green;
		margin-bottom: 25px;
	}

	&__res {
		margin-bottom: 30px;
	}

	&__data {
		width: 134px;
		height: 134px;
		color: #fff;
		font-size: 14px;
		font-weight: 700;
		line-height: 20px;
		text-align: center;
		position: relative;
		background: transparent;
		border: 8px solid $color-green;
		@include box-shadow( 0px 0px 10px 0px rgba(41, 179, 84, 0.65));
		@include border-radius(50%);
		@include flexbox();
		@include transition(.3s);

		&:before {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			display: block;
			position: absolute;
			@include box-shadow(inset 0px 0px 10px 0px rgba(41, 179, 84, 0.35));
			@include border-radius(50%);
		}

		span {
			margin: auto;
			display: inline-block;
		}

		&.large {
			width: 180px;
			height: 180px;
			font-size: 18px;
		}

		&:hover {
			@include transition(.3s);
			text-shadow: 1px 1px 14px rgba(255, 255, 255, 0.7);
			@include box-shadow( 0px 0px 50px 0px rgba(41, 179, 84, 0.85));

			&:before {
				@include box-shadow(inset 0px 0px 10px 0px rgba(41, 179, 84, 0.75));
			}

		}
	}

	&__description {
		font-size: 14px;
		line-height: 25px;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				position: relative;
				padding-left: 20px;
				margin-bottom: 25px;

				&:before {
					left: 0;
					top: 10px;
					width: 5px;
					height: 5px;
					content: '';
					position: absolute;
					background: $color-green;
					@include border-radius(50%);
				}
			}
		}
	}


	@media (min-width: $screen-sm-min) {

		&__row {
			@include flexbox();
		}

		&__result {
			min-width: 260px;
		}

		&__res {
		}

		&__description {

		}

		&__name {
			font-size: 24px;
		}
	}

	@media (min-width: $screen-md-min) {

		&__result {
			min-width: 350px;
		}

		&__name {
			margin-bottom: 90px;
		}

		&__res {
			@include clearfix();
		}

		&__description {
			padding-left: 50px;
		}

		&__data {
			float: right;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__result {
			min-width: 450px;
		}

		&__description {
			padding-left: 150px;
		}
	}

	@media (min-width: $screen-xl-min) {

		&__name {
			margin-bottom: 130px;
		}

		&__description {
			padding-left: 255px;
		}
	}
}

