.block__six {
	color: #fff;
	padding-top: 50px;
	padding-bottom: 30px;
	background: #1f263b;

	h2,
	.h2 {
		margin-bottom: 40px;
	}

	.stat {
		padding: 0;
		margin: 0 -15px;
		list-style: none;

		li {
			padding: 0 15px;
			text-align: center;
			margin-bottom: 60px;
			@include transition(.3s);

			strong {
				display: block;
				color: #30b458;
				font-size: 70px;
				font-weight: 700;
				line-height: 70px;
				margin-bottom: 30px;
				text-shadow: 1px 1px 14px rgba(41, 179, 84, 0);
				@include transition(.3s);
			}

			span {
				display: block;
				font-size: 14px;
				line-height: 28px;
				max-width: 250px;
				margin: 0 auto 40px auto;
				text-shadow: 1px 1px 14px rgba(41, 179, 84, 0);
				@include transition(.3s);
			}

			i {
				height: 32px;
				display: block;
			}

			&:hover {
				@include transition(.3s);

				strong {
					text-shadow: 1px 1px 14px rgba(41, 179, 84, 0.8);
					@include transition(.3s);
				}

				span {
					text-shadow: 1px 1px 7px rgba(255, 255, 255, 0.7);
					@include transition(.3s);
				}
			}
		}
	}


	@media (min-width: $screen-sm-min) {

		.stat {
			@include flexbox();
			@include flex-wrap(wrap);
			@include justify-content(center);

			li {
				width: 33.33%;
				@include flexbox();
				@include flex-direction(column);

				span {
					@include flex-grow(1);
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {
		padding-top: 100px;
		padding-bottom: 100px;

		.stat {
			@include flex-wrap(nowrap);
			@include justify-content(space-between);

			li {
				width: 20%;
				text-align: left;
				margin-bottom: 0;

				span {
					margin: 0 0 40px 0;
				}
			}
		}

		@media (min-width: $screen-lg-min) {


			.stat {
				@include justify-content(space-between);

				li {
					width: 20%;

					strong {
						margin-bottom: 45px;
					}

					span {
						margin-bottom: 70px;
					}
				}
			}
		}

		@media (min-width: $screen-xl-min) {
			padding-top: 135px;
			padding-bottom: 135px;
		}
	}
}