.block__twelve {
	background: #fff;
	padding-top: 60px;
	padding-bottom: 10px;


	.h2 {
		max-width: 760px;
		margin: 0 auto 60px auto;
	}

	@media (min-width: $screen-sm-min) {

	}

	@media (min-width: $screen-md-min) {
		padding-top: 70px;

	}

	@media (min-width: $screen-lg-min) {
		padding-top: 110px;

		.h2 {
			margin-bottom: 90px;
		}
	}

	@media (min-width: $screen-xl-min) {

		.h2 {
			margin-bottom: 160px;
		}
	}
}

.staff {
	padding: 0;
	margin: 0 -15px;
	list-style: none;

	> li {
		padding: 0 15px;
		margin-bottom: 70px;
	}

	&__elem {
		width: 270px;
		margin: 0 auto;
	}

	&__photo {
		width: 270px;
		margin-bottom: 20px;
	}

	&__user {
		height: 40px;
		padding-right: 25px;
		position: relative;

		&_name {
			color: #313131;
			font-size: 18px;
			font-weight: 500;
			line-height: 20px;
		}

		&_icon {
			top: 0;
			right: 0;
			height: 25px;
			display: block;
			position: absolute;
		}
	}

	&__info {
		height: 45px;
		color: #313131;
		font-size: 14px;
		font-weight: 300;
		line-height: 23px;
	}

	&__type {
		font-size: 14px;
		font-weight: 300;
		line-height: 16px;
		color: $color-green;
		margin-bottom: 45px;
	}

	.btn {
		width: 100%;
	}

	@media (min-width: $screen-sm-min) {
		@include flexbox();
		@include flex-wrap(wrap);

		> li {
			width: 50%;
		}
	}

	@media (min-width: $screen-md-min) {

		> li {
			width: 33.33%;
			margin-bottom: 90px;
		}
	}
}

