body {
	background: fixed url("../img/block_seven__bg.jpg") 50% 0 no-repeat;
	background-size: cover;
}

section {
	width: 100%;
	max-width: 100%;
	overflow: hidden;
}

.tabs {

	.tabs-item {
		display: none;

		&.active {
			display: block;
		}
	}
}

.video_bg {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	display: none;
	position: absolute;

	.video-inner {
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: relative;
	}

	@media (min-width: $screen-md-min) {
		display: block;
	}
}

video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
}

@media (min-aspect-ratio: 16/9) {
	video {
		height: 300%; top: -100%;
	}

}

@media (max-aspect-ratio: 16/9) {
	video {
		width: 300%; left: -100%;
	}
}

@supports (object-fit: cover) {
	video {
		top: 0; left: 0;
		width: 100%; height: 100%;
		object-fit: cover;
	}
}

.form_block {
	width: 250px;
	margin: 0 auto 30px auto;

	&__row {
		padding: 0;
		margin: 0 -13px;
		list-style: none;

		> li {
			padding: 0 15px;
		}
	}

	.btn {
		width: 100%;
	}

	@media (min-width: $screen-md-min) {
		width: 800px;

		&__row {
			@include flexbox();

			> li {
				width: 33.33%;
			}
		}
	}
}

.modal {
	background: transparent;
	padding: 30px 20px;
	@include box-shadow(none);

	&__title {
		color: #313131;
		font-size: 24px;
		font-weight: 500;
		line-height: 30px;
		text-align: center;
		margin-bottom: 20px;
		font-family: $font-head;
	}

	&__subtitle {
		font-size: 14px;
		font-weight: 500;
		line-height: 20px;
		text-align: center;
		margin-bottom: 40px;
		color: $color-green;
	}

	&__form {
		width: 250px;
		margin: 0 auto 40px auto;
	}

	&__text {
		margin: 0 auto;
		max-width: 380px;
		color: #a0a0a0;
		font-size: 10px;
		font-weight: 300;
		line-height: 18px;
		text-align: center;
	}

	.btn {
		width: 100%;
	}

	&__content {
		margin: 0 auto;
		text-align: center;
		max-width: 280px;
	}

	@media (min-width: $screen-sm-min) {
		width: 650px;
		opacity: 0.9;
		padding: 75px 30px 30px 30px;
	}
}

.fancybox-active {

	section,
	.header,
	.footer {
		-webkit-filter: url(#blur);
		filter: url(#blur);
		-webkit-filter: blur(3px);
		filter: blur(3px);
		filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
		-webkit-transition: 1s -webkit-filter linear;
		transition: 1s filter linear;
	}
}


.fancybox-container-white {

	.fancybox-bg {
		opacity: 1;
		background: rgba(255,255,255,0.95) !important;
	}

	.fancybox-close-small {
		outline: none;

		&:after {
			color: $color-green;
		}
	}
}

@media (min-width: $screen-sm-min) {

}

@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {

}

@media (min-width: $screen-xl-min) {

}


.divider {
	height: 70px;
	background: #fff;
}


.tel {
	text-decoration: none;
}




/*************** SIMPLE OUTER SCROLLBAR ***************/

.scrollbar-outer > .scroll-element,
.scrollbar-outer > .scroll-element div
{
	border: none;
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: 10;
}

.scrollbar-outer > .scroll-element {
	background-color: #ffffff;
}

.scrollbar-outer > .scroll-element div {
	display: block;
	height: 100%;
	left: 0;
	top: 0;
	width: 100%;
}

.scrollbar-outer > .scroll-element.scroll-x {
	bottom: 0;
	height: 12px;
	left: 0;
	width: 100%;
}

.scrollbar-outer > .scroll-element.scroll-y {
	height: 100%;
	right: 0;
	top: 0;
	width: 12px;
}

.scrollbar-outer > .scroll-element.scroll-x .scroll-element_outer { height: 8px; top: 2px; }
.scrollbar-outer > .scroll-element.scroll-y .scroll-element_outer { left: 2px; width: 8px; }

.scrollbar-outer > .scroll-element .scroll-element_outer { overflow: hidden; }
.scrollbar-outer > .scroll-element .scroll-element_track { background-color: #eeeeee; }


.scrollbar-outer > .scroll-element .scroll-bar { background-color: #d9d9d9; }
.scrollbar-outer > .scroll-element .scroll-bar:hover { background-color: #c2c2c2; }
.scrollbar-outer > .scroll-element.scroll-draggable .scroll-bar { background-color: #919191; }


/* scrollbar height/width & offset from container borders */

.scrollbar-outer > .scroll-content.scroll-scrolly_visible { left: -12px; margin-left: 12px; }
.scrollbar-outer > .scroll-content.scroll-scrollx_visible { top:  -12px; margin-top:  12px; }

.scrollbar-outer > .scroll-element.scroll-x .scroll-bar { min-width: 10px; }
.scrollbar-outer > .scroll-element.scroll-y .scroll-bar { min-height: 10px; }


/* update scrollbar offset if both scrolls are visible */

.scrollbar-outer > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track { left: -14px; }
.scrollbar-outer > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track { top: -14px; }

.scrollbar-outer > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: -14px; }
.scrollbar-outer > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -14px; }


.scrollbar-inner > .scroll-element .scroll-element_track {
	background-color: #fff !important;
	opacity: 1 !important;
}
.scrollbar-inner > .scroll-element .scroll-bar {background-color: #333;}
.scrollbar-inner > .scroll-element:hover .scroll-bar { background-color: #444; }
.scrollbar-inner > .scroll-element.scroll-draggable .scroll-bar { background-color: #444; }

.scrollbar-inner > .scroll-element .scroll-element_outer,
.scrollbar-inner > .scroll-element .scroll-element_track,
.scrollbar-inner > .scroll-element .scroll-bar {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.scrollbar-inner > .scroll-element.scroll-x {
	bottom: 0;
	height: 8px;
	left: 0;
	width: 100%;
}


.swiper-button-next,
.swiper-button-prev {
	outline: none !important;
	touch-action: manipulation;
}