.footer {
	color: #fff;
	text-align: center;
	padding: 60px 0;
	background: #1f263b;

	&__nav {
		padding: 0;
		font-size: 0;
		line-height: 0;
		margin: 0 -10px 30px -10px;
		list-style: none;

		> li {
			padding: 0 10px;
			display: inline-block;

			a {
				color: #fff;
				font-size: 14px;
				line-height: 20px;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	&__contact {
		margin: 0 0 30px 0;
		padding: 0;
		list-style: none;

		li {

			&:first-child {
				margin-bottom: 15px;
			}

			&:last-child {

				a {
					color: #fff;
					font-size: 14px;
					line-height: 20px;
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}

	&__phone {
		color: #fff;
		font-size: 18px;
		font-weight: 500;
		line-height: 20px;
		padding-left: 30px;
		position: relative;
		white-space: nowrap;
		text-decoration: none;
		display: inline-block;
		font-family: $font-head;

		&:before {
			top: 2px;
			left: 0;
			width: 15px;
			height: 15px;
			content: '';
			display: block;
			position: absolute;
			background: url("../img/icon_phone.svg") 0 0 no-repeat;
			background-size: cover;
		}
	}

	&__dev {
		color: #fff;
		font-size: 15px;
		line-height: 20px;
		position: relative;
		display: inline-block;
		text-decoration: none;
		padding: 8px 60px 8px 0;

		&:before {
			top: 0;
			right: 0;
			width: 36px;
			height: 36px;
			content: '';
			display: block;
			position: absolute;
			background: url("../img/updesign.svg") 0 0 no-repeat;
		}
	}

	&__copy {
		font-size: 14px;
		font-weight: 500;
		line-height: 20px;
		margin-bottom: 30px;
		color: $color-green;
	}

	&__link {
		max-width: 460px;
		color: #dcdcdc;
		font-size: 10px;
		font-weight: 300;
		line-height: 21px;
		margin: 0 auto 30px auto;
		text-decoration: none;

		a {
			color: #dcdcdc;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		text-align: left;

		&__row {
			margin-bottom: 60px;
			@include flexbox();
			@include justify-content(space-between)
		}

		&__left {

			&__nav {

				> li {
					float: left;
					text-align: left;

					a {
						text-decoration: none;

						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}

		&__right {
			text-align: right;
		}


		&__contact {
			margin-bottom: 0;
		}
	}


	@media (min-width: $screen-md-min) {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	@media (min-width: $screen-lg-min) {

	}

	@media (min-width: $screen-xl-min) {
		padding-top: 130px;
		padding-bottom: 130px;
	}

}