
// Header

.header {
	width: 100%;
	color: #fff;
	overflow: hidden;
	min-height: 100vh;
	position: relative;
	background: url("../img/header__bg.jpg") 50% 50% no-repeat;
	background-size: cover;

	&:before {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: '';
		z-index: 15;
		position: absolute;
		background: rgba(0,0,0, 0.5);
	}

	&__content {
		width: 100%;
		height: 100%;
		z-index: 100;
		position: relative;
	}

	&__col {
		padding-top: 150px;
		padding-bottom: 80px;
	}

	h1 {
		text-align: center;
		margin-bottom: 30px;
	}

	&__subtitle {
		max-width: 700px;
		font-size: 16px;
		font-weight: 700;
		line-height: 1.5;
		text-align: center;
		position: relative;
		padding-bottom: 30px;
		margin: 0 auto 30px auto;

		&:before {
			left: 50%;
			bottom: 0;
			width: 45px;
			height: 2px;
			content: '';
			margin-left: -22px;
			position: absolute;
			background: $color-green;
		}
	}

	&__form {
		width: 250px;
		margin: 0 auto 30px auto;

		&_row {
			padding: 0;
			margin: 0 -13px;
			list-style: none;

			> li {
				padding: 0 15px;
			}
		}

		.btn {
			width: 100%;
		}
	}

	&__text {
		color: #d2d2d2;
		font-size: 12px;
		line-height: 20px;
		text-align: center;
	}

	&__top {
		left: 0;
		right: 0;
		z-index: 200;
		padding-top: 20px;
		position: absolute;
	}

	&__logo {
		float: left;
		height: 78px;
		font-size: 18px;
		line-height: 18px;
		position: relative;
		font-family: $font-head;
		padding: 20px 0 30px 60px;

		&:before {
			top: 0;
			left: 0;
			content: '';
			width: 60px;
			height: 78px;
			position: absolute;
			background: url("../img/logo.svg") 0 0 no-repeat;
			background-size: cover;
		}

		span {display: none;
			padding-left: 25px;
		}
	}

	&__nav {
		margin: 0;
		float: left;
		display: none;
		padding: 20px 0 0 0;
		@include clearfix();

		> li {
			float: left;
			padding: 0 22px;

			a {
				color: #313131;
				font-size: 14px;
				font-weight: 400;
				line-height: 20px;
				text-decoration: none;
				@include transition(.3s);

				&:hover {
					color: $color-green;
					@include transition(.3s);
				}
			}
		}
	}

	&__contact {
		margin: 0;
		float: right;
		list-style: none;
		text-align: right;
		padding: 15px 0 0 0;

		li {

			&:first-child {
				margin-bottom: 5px;
			}
		}
	}

	&__phone {
		color: #fff;
		font-size: 18px;
		line-height: 20px;
		padding-left: 22px;
		position: relative;
		text-decoration: none;
		display: inline-block;

		&:before {
			left: 0;
			top: 0;
			content: '';
			width: 15px;
			height: 15px;
			position: absolute;
			background: url("../img/icon_phone.svg") 0 0 no-repeat;
			background-size: cover;
		}
	}

	.btn-callback {
		color: #fff;
		font-size: 14px;
		font-weight: 700;
		line-height: 20px;
		text-decoration: none;
		font-family: $font-head;
		@include transition(.3s);

		&:hover {
			color: $color-green;
			@include transition(.3s);
		}
	}

	@media (min-width: $screen-sm-min) {
		height: 100vh;
		max-height: 100vh;

		&__content {
			height: 100vh;
			display: table;
		}

		&__col {
			display: table-cell;
			vertical-align: middle;
		}

		&__logo {

			span {
				display: inline-block;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		h1 {
			margin-bottom: 40px;
		}

		&__col {
			padding-top: 150px;
			padding-bottom: 150px;
		}

		&__subtitle {
			font-size: 18px;
			margin-bottom: 85px;
		}

		&__form {
			width: 800px;

			&_row {
				@include flexbox();

				> li {
					width: 33.33%;
				}
			}
		}

		&__top {
			top: 33px;
			padding-top: 27px;
			padding-bottom: 15px;
		}

		&__contact {
			width: auto;
			padding-top: 20px;
			@include clearfix();

			li {
				float: left;

				&:first-child {
					margin-bottom: 0;
					margin-right: 40px;
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		&__top {

			&.fix-top {
				top: 0;
				position: fixed;
				background: #fff;
				@include box-shadow(0px 0px 8px 0px rgba(0, 0, 0, 0.5));

				.header__logo {

					span {
						display: none;
					}
				}

				.header__nav {
					display: block;
					margin-left: 110px;
				}

				.header__contact {
					padding: 5px;

					li {
						float: none;

						&:first-child {
							margin-right: 0;
							margin-bottom: 10px;
						}
					}
				}

				.header__phone {
					color: #313131;
				}

				.btn-callback {
					color: $color-green;
				}

			}
		}
	}

	@media (min-width: $screen-xl-min) {

		&__top {

			&.fix-top {

				.header__nav {
					margin-left: 210px;
				}
			}
		}
	}

}