$body-bg:                       #fff;

$color-green:                   #30b458;

// Fonts

$font-size-base:                16px !default;
$font-size-lg:                  ($font-size-base * 1.25) !default;
$font-size-sm:                  ($font-size-base * .875) !default;

$font-weight-base:              400 !default;
$line-height-base:              1.25 !default;


$font-base:                     'Montserrat', sans-serif !default;
$font-head:                     'Montserrat Alternates', Arial, sans-serif !default;

$spacer:                        15px !default;

$color-base:                    #535353;
$color-link:                    #535353 !default;

$link-decoration:              underline!default;
$link-hover-decoration:        none!default;


	// layout

$container-sm:                  750px !default;
$container-md:                  970px !default;
$container-lg:                  1270px !default;
$container-xl:                  1430px !default;


$gutter:                        30px !default;


$screen-xs-min:                 0;
$screen-sm-min:                 768px !default;
$screen-md-min:                 992px !default;
$screen-lg-min:                 1300px !default;
$screen-xl-min:                 1460px !default;


$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;
$screen-md-max:              ($screen-xl-min - 1) !default;

