
.btn {
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	padding: 16px 25px;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	background: #30b458;
	display: inline-block;
	vertical-align: middle;
	touch-action: manipulation;
	text-decoration: none;
	font-family: $font-head;
	@include transition(.3s);
	@include border-radius(26px);

	&:hover {
		color: #fff;
		background: #2dc85c;
		@include transition(.3s);
		@include box-shadow(0px 0px 25px 0px rgba(41, 179, 84, 0.5));
	}

	&:focus,
	&.focus {
		outline: 0;
	}
}

.btn-md {
	font-weight: 600;
	padding: 20px 20px;
	@include border-radius(30px);
}
