.form-control {
	margin: 0;
	width: 100%;
	color: #fff;
	outline: none;
	font-size: 14px;
	line-height: 20px;
	padding: 19px 25px;
	text-align: center;
	display: inline-block;
	border: 1px solid #fff;
	background: transparent;
	@include transition(.3s);
	@include placeholder(#fff);
	@include border-radius(30px);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:hover {
		@include transition(.3s);
		border-color: $color-green;
	}

	&:focus {
		padding: 18px 24px;
		border: 2px solid $color-green;
		@include placeholder(transparent);
		@include transition(.3s);
	}
}


.form-control-gray {
	color: #707070;
	border: 1px solid #bfbfbf;
	@include placeholder(#707070);
}

.form-group {
	margin-bottom: 20px;
}